---
import Layout from "../../layouts/Layout.astro"
import PozivnicaForm from "../../components/PozivnicaForm.tsx"
import Header from "../../components/ui/Header.astro"
import FaqItem from "../../components/ui/FaqItem.astro"
import PozivnicaDesign from "../../components/PozivnicaDesign.astro"
const { id } = Astro.locals
const SEO = {
  title: "Uzimam | izrada online svadbenih pozivnica",
  description:
    "Brzo i jednostavno izradite online svadbene pozivnice uz pomoć umjetne inteligencije! Personalizirajte dizajn, tekst i stil pozivnice prema vlastitim željama i oduševite goste modernim digitalnim rješenjem.",
}
---

<Layout title={SEO.title} description={SEO.description}>
  <Header
    title="AI Pozivnice"
    subtitle="Stvorite moderne i personalizirane pozivnice"
  />

  <!-- end wpo-faq-section -->
  <section class="wpo-product-section section-padding">
    <div class="container">
      <div class="wpo-section-title">
        <h2 class="poort-text poort-in-right">Izaberi dizajn</h2>
      </div>
      <div class="wpo-product-wrap">
        <div class="row">
          <PozivnicaDesign
            text="Amelie"
            link="/ai-pozivnice-za-vjencanje/amelie"
            img="/assets/images/dizajn/pozivnice/amelie.png"
          />
          <PozivnicaDesign
            text="Belami"
            link="/ai-pozivnice-za-vjencanje/belami"
            img="/assets/images/dizajn/pozivnice/Belami.png"
          />
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>

  <div class="bg-pozivnica section-padding" id="pozivnica">
    <PozivnicaForm id={id} client:only="react" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1">
        <div class="wpo-faq-section section-padding">
          <h4>FAQ</h4>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="accordion" id="accordionExample">
                <FaqItem
                  collapseId="#collapseOne"
                  question="Što su AI pozivnice?"
                  answer=`Umjetna inteligencija za izradu personaliziranih i kreativnih tekstova, omogućujući mladencima da lako stvaraju jedinstvene pozivnice.`
                  expended
                />
                <FaqItem
                  collapseId="#collapseTwo"
                  question="Kako sve funkcionira?"
                  answer=`Jednostavno popunite obrazac s podacima o gostima, a
                              umjetna inteligencija će generirati prijedlog teksta
                              pozivnice, koji možete dodatno prilagoditi prema
                              vlastitim željama. Nakon toga birate dizajn pozivnice
                              koji vam se najviše sviđa, a sustav vam generira
                              jedinstveni link. Taj link možete podijeliti s gostima
                              putem e-maila, WhatsAppa ili društvenih mreža.`
                />
                <FaqItem
                  collapseId="#collapseThree"
                  question="Što još dobivam uz ai pozivnice?"
                  answer=`AI pozivnice su dio našeg Diamond paketa, koji također
                        uključuje korisničko sučelje u kojem ćete moći:`
                  list={[
                    "popis svih gostiju",
                    "označiti kome je pozivnica poslana",
                    "označiti tko je potvrdio dolazak",
                  ]}
                />
                <FaqItem
                  collapseId="#collapseFour"
                  question="Kako izgleda primjer AI pozivnice? "
                  answer=` Možete izabrati jedan od ponuđenih dizajna, a kompletan proces izrade možete besplatno isprobati nakon registracije na sljedećem linku `
                  link="register"
                />
                <FaqItem
                  collapseId="#collapse5"
                  question="Koliko traje izrada AI pozivnice?"
                  answer=` Izrada AI pozivnice obično traje manje od minute, a izrađujete ih sami.`
                />
                <FaqItem
                  collapseId="#collapse6"
                  question="Kako mogu poslati AI pozivnicu gostima?"
                  answer=`AI pozivnicu možete poslati gostima u obliku linka putem e-maila, društvenih mreža ili WhatsAppa.`
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<style>
  .wpo-contact-pg-section {
    margin-bottom: 200px;
  }
  .my-checkbox {
    width: 20px;
    margin-right: 31px;
    flex-shrink: 0;
  }

  .label {
    display: inline-flex;
    align-items: center;
  }
  .bg-pozivnica {
    background-image: url("/assets/images/pozivnica-bg.png"); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
  }
</style>
