---
import Header from "../components/ui/Header.astro"
import UserInterface from "../components/UserInterface"
import Layout from "../layouts/Layout.astro"

console.log("Dashboard goes second")
const { name, id } = Astro.locals
console.log(`astro locals name ${name}`)
console.log(`astro locals name ${id}`)

if (!name || !id) {
  return Astro.redirect("/signin")
}
---

<Layout>
  <Header title={`Dobrodošli ${name}`} />
  <div class="container section-padding">
    <UserInterface client:load id={id} />
    <div class="d-flex">
      <div class="ms-auto mt-4">
        <form action="/api/auth/signout" method="POST">
          <button class="view-cart-btn" type="submit"> Odjava </button>
        </form>
      </div>
    </div>
  </div>
</Layout>
