---
import Citati from "../components/Citati.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <!-- start wpo-page-title -->
  <section class="wpo-page-title">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-breadcumb-wrap">
            <h2>Galerija slika</h2>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    <div class="frame-shape-1 wow fadeInLeftSlow" data-wow-duration="1200ms">
      <img src="assets/images/slider/invitation-shape-1.png" />
    </div>
    <div class="frame-shape-2 wow fadeInRightSlow" data-wow-duration="1200ms">
      <img src="assets/images/slider/invitation-shape-2.png" />
    </div>
  </section>
  <!-- end page-title -->

  <!-- start wpo-portfolio-section -->
  <section class="wpo-portfolio-section-s6 section-padding">
    <div class="container-fluid">
      <div class="sortable-gallery">
        <div class="gallery-filters"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="portfolio-grids gallery-container clearfix">
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/pic1.jpg" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/pic2.jpg" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/pic3.jpg" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/pic4.jpg" />
                </div>
              </div>
              <div class="grid">
                <div class="middle-content-wrap">
                  <img src="assets/images/portfolio/white.jpg" />
                  <div class="wpo-section-title">
                    <h4 class="poort-text poort-in-right">
                      Naša jedinstvena bajka
                    </h4>
                    <h2 class="poort-text poort-in-right">
                      Nebi bila tako posebna bez naših najdražih...
                    </h2>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/pic5.jpg" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/pic6.jpg" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/pic7.jpg" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/pic8.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-portfolio-section -->

  <Citati />
</Layout>
