---
export const prerender = true
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class="wpo-blog-pg-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 offset-lg-1">
          <div class="wpo-blog-content">
            <div class="post format-standard">
              <div class="entry-meta"></div>
              <div class="entry-details">
                <h3>Obiteljski obrt</h3>
                <p>
                  BONANI, obrt za proizvodnju, usluge i trgovinu, vl. Natalia
                  Ninić Prelec, Zagreb, Radmanovačka ulica 31
                </p>
                <p>Phone number: +385976785381</p>
                <p>Email: info@uzimam.com</p>
                <p>Zagrebačka banka IBAN HR2023600001103067714</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
<!-- end container -->
