---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Features from "../components/Features.astro"
import Usluge from "../components/Usluge.astro"
import FreeAndFunItem from "../components/FreeAndFunItem.astro"
---

<Layout>
  <Hero />
  <Features />
  <Usluge />
  <section class="wpo-story-section-s4 section-padding" id="story">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Free & Fun Kutak</h4>
        <h2 class="poort-text poort-in-right">Å½elimo vam dobu zabavu</h2>
      </div>
      <div class="wpo-story-wrap">
        <FreeAndFunItem
          link="/free-and-fun/free-wedding-stickers"
          img="/assets/images/freeandfun/stickers.png"
          title="Wedding stickers"
          text="Stickeri na vjenÄanju dodaju osobni i zabavni touch! ðŸŽ‰ Mogu biti prilagoÄ‘eni imenima mladenaca, datumom i tematikom vjenÄanja, savrÅ¡eni za ukraÅ¡avanje pozivnica, zahvalnica, stolova i dekoracija. Gosti ih mogu koristiti za oznaÄavanje svojih ÄaÅ¡a, poklona ili odjeÄ‡e, a takoÄ‘er mogu posluÅ¾iti kao suvenir koji Ä‡e ih podsjeÄ‡ati na vaÅ¡ poseban dan. Osim Å¡to su povoljni, stickeri doprinose jedinstvenoj atmosferi i olakÅ¡avaju snalaÅ¾enje na proslavi. ðŸ’–"
        />
        <FreeAndFunItem
          link="/free-and-fun/ai-izbor-pjesama"
          img="/assets/images/freeandfun/music.png"
          rightOrLeft={false}
          title="AI - izbor pjesama"
          text="Jeste li ikada sastavljali playlistu za proslavu, ali vam je ponestalo ideja nakon nekoliko pjesama? ðŸŽ¶ Za vas smo napravili mali AI alat koji vam pomaÅ¾e upravo u tome! Dovoljno je unijeti nekoliko omiljenih pjesama ili izvoÄ‘aÄa, a umjetna inteligencija Ä‡e vam predloÅ¾iti sliÄne hitove koji Ä‡e upotpuniti vaÅ¡u playlistu. ðŸŽ§âœ¨"
        />
        <FreeAndFunItem
          link="/free-and-fun/free-wedding-planner"
          img="/assets/images/freeandfun/planner.png"
          title="Wedding planner"
          text="Besplatno preuzmite naÅ¡ wedding planner u pdf-formatu i imajte sve vaÅ¾ne detalje organizacije vjenÄanja na jednom mjestu! "
        />
      </div>
    </div>
  </section>

  <!-- end container -->
</Layout>
