---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Features from "../components/Features.astro"
import Dizajn from "../components/Dizajn.astro"
import Pozivnica from "../components/Pozivnica.astro"
import Usluge from "../components/Usluge.astro"
---

<Layout>
  <Hero />
  <Features />
  <Usluge />
  <Dizajn />
  <Pozivnica />

  <!-- start wpo-partners-section -->
  <section class="wpo-partners-section section-padding">
    <h2 class="hidden">Mladenci</h2>
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="partner-grids partners-slider owl-carousel">
            <div class="grid">
              <a class="mladenci" href="https://maja-ivan.uzimam.com/"
                >Maja & Ivan</a
              >
            </div>
            <div class="grid">
              <a class="mladenci" href="https://matea-stipe.uzimam.com/"
                >Matea & Stipe</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-partners-section-->
</Layout>

<style>
  .mladenci {
    font-family: "monallesia", "Mulish", sans-serif;
    color: #777777;
  }
</style>
