---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Usluge from "../components/Usluge.astro"
import FreeAndFunItem from "../components/FreeAndFunItem.astro"
---

<Layout>
  <Hero />
  <Usluge />
  <section class="wpo-offer-banner-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-12 col-12">
          <div
            class="offer-banner-text wow fadeInLeftSlow"
            data-wow-duration="1700ms"
          >
            <div class="offer-banner-text-inner">
              <span>Kruna svake torte</span>
              <h2>Izrada Cake Toppera</h2>
              <a class="theme-btn" href="https://www.bonani.hr/">Posjetite ih</a
              >
            </div>
            <div
              class="frame-shape-1 wow fadeInLeftSlow"
              data-wow-duration="1600ms"
            >
              <img src="/assets/images/slider/invitation-shape-1.png" alt="" />
            </div>
            <div
              class="frame-shape-2 wow fadeInRightSlow"
              data-wow-duration="1600ms"
            >
              <img src="/assets/images/slider/invitation-shape-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <section class="wpo-story-section-s4 section-padding" id="story">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Free & Fun Kutak</h4>
        <h2 class="poort-text poort-in-right">Želimo vam dobru zabavu</h2>
      </div>
      <div class="wpo-story-wrap">
        <FreeAndFunItem
          link="/free-and-fun/free-wedding-stickers"
          img="/assets/images/freeandfun/stickers.png"
          title="Wedding stickers"
          text="Stickeri na vjenčanju dodaju osobni i zabavni touch! Mogu biti prilagođeni imenima mladenaca, datumom i tematikom vjenčanja, savršeni za ukrašavanje pozivnica, zahvalnica, stolova i dekoracija. Gosti ih mogu koristiti za označavanje svojih čaša, poklona ili odjeće, a također mogu poslužiti kao suvenir koji će ih podsjećati na vaš poseban dan. Osim što su povoljni, stickeri doprinose jedinstvenoj atmosferi i olakšavaju snalaženje na proslavi."
        />
        <FreeAndFunItem
          link="/free-and-fun/ai-izbor-pjesama"
          img="/assets/images/freeandfun/music.png"
          rightOrLeft={false}
          title="AI - izbor pjesama"
          text="Jeste li ikada sastavljali playlistu za proslavu, ali vam je ponestalo ideja nakon nekoliko pjesama? Za vas smo napravili mali AI alat koji vam pomaže upravo u tome! Dovoljno je unijeti nekoliko omiljenih pjesama ili izvođača, a umjetna inteligencija će vam predložiti slične hitove koji će upotpuniti vašu playlistu."
        />
        <FreeAndFunItem
          link="/free-and-fun/free-wedding-planner"
          img="/assets/images/freeandfun/planner.png"
          title="Wedding planner"
          text="Besplatno preuzmite naš wedding planner u pdf-formatu i imajte sve važne detalje organizacije vjenčanja na jednom mjestu! "
        />
      </div>
    </div>
  </section>

  <!-- end container -->
</Layout>
