---
import Newsletter from "../components/Newsletter.astro"
import Layout from "../layouts/Layout.astro"
const sparky = import.meta.env.PUBLIC_KONTAKT
---

<Layout>
  <!-- start wpo-page-title -->
  <section class="wpo-page-title">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-breadcumb-wrap">
            <h2>Kontakt</h2>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    <div class="frame-shape-1 wow fadeInLeftSlow" data-wow-duration="1200ms">
      <img src="assets/images/slider/invitation-shape-1.png" alt="" />
    </div>
    <div class="frame-shape-2 wow fadeInRightSlow" data-wow-duration="1200ms">
      <img src="assets/images/slider/invitation-shape-2.png" alt="" />
    </div>
  </section>
  <!-- end page-title -->

  <!-- start wpo-contact-pg-section -->
  <section class="wpo-contact-pg-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 offset-lg-1">
          <div class="office-info">
            <div class="row">
              <div class="col col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="office-info-item">
                  <div class="office-info-icon">
                    <div class="icon">
                      <i class="fi flaticon-maps-and-flags"></i>
                    </div>
                  </div>
                  <div class="office-info-text">
                    <h2>Address</h2>
                    <p>Uskoro otvaramo ured</p>
                  </div>
                </div>
              </div>
              <div class="col col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="office-info-item">
                  <div class="office-info-icon">
                    <div class="icon">
                      <i class="fi flaticon-email"></i>
                    </div>
                  </div>
                  <div class="office-info-text">
                    <h2>Email</h2>
                    <a
                      href="mailto:info@uzimam.com"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      info@uzimam.com
                    </a>
                  </div>
                </div>
              </div>
              <div class="col col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="office-info-item">
                  <div class="office-info-icon">
                    <div class="icon">
                      <i class="fi flaticon-phone-call"></i>
                    </div>
                  </div>
                  <div class="office-info-text">
                    <h2>Poziv</h2>
                    <a
                      href="tel:+385976785381"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      097 678 5381
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <Newsletter />

          <div class="wpo-contact-title">
            <h2>Imate pitanja?</h2>
            <p>
              Slobodno nas kontaktirajte ako imate pitanja ili želite naručiti
              stranicu.
            </p>
          </div>
          <div class="wpo-contact-form-area">
            <form action={`https://submit-form.com/${sparky}`}>
              <input type="hidden" name="_feedback.whitelabel" value="true" />
              <input
                type="hidden"
                name="_feedback.success.title"
                value="Primili smo Vašu poruku, javljamo se brzo, hvala!"
              />
              <input
                type="hidden"
                name="_feedback.success.message"
                value="Povratak:"
              />
              <div>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="Ime*"
                  required
                  minlength="1"
                  maxlength="16"
                />
              </div>
              <div>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Vaš Email*"
                  required
                />
              </div>
              <div>
                <select name="dizajn" class="form-control">
                  <option disabled="disabled" selected="">Dizajn</option>
                  <option>Amor Vitae designe</option>
                  <option>Dulcis Amor designe</option>
                  <option>Još nisam odlučila/o</option>
                </select>
              </div>
              <div class="fullwidth">
                <textarea
                  class="form-control"
                  name="note"
                  id="note"
                  placeholder="Poruka...*"
                  required
                  minlength="4"
                  maxlength="450"></textarea>
              </div>
              <div class="fullwidth">
                <label for="my-checkbox" class="label">
                  <input
                    type="checkbox"
                    id="my-checkbox"
                    name="my-checkbox"
                    required
                  />
                  Razumijem da će se osobni podaci koristiti isključivo za kontakt
                  i da se neće koristiti u druge svrhe kako je definirano u polici
                  privatnosti.
                </label>
              </div>
              <div class="submit-area">
                <button type="submit" class="theme-btn-s4">Pošalji</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-contact-pg-section -->

  <!--  start wpo-contact-map -->
  <section class="kontakt-area">
    <p></p>
  </section>

  <!-- end wpo-contact-map -->
</Layout>
<style>
  .kontakt-area {
    min-height: 300px;
  }

  .label {
    display: inline-flex;
    align-items: center;
  }
  #my-checkbox {
    width: 30px;
    margin-right: 31px;
  }
</style>
