---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class="wpo-blog-pg-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 offset-lg-1">
          <div class="wpo-blog-content">
            <div class="post format-standard">
              <div class="entry-meta"></div>
              <div class="entry-details">
                <h3>Uspješno ste prijavljeni na Newsletter</h3>
                <p>Registrirana adresa: <span id="span" class=""></span></p>
                <span>Povratak na </span>
                <a href="/">naslovnicu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  #span {
    color: #a28aac;
  }
</style>

<script>
  const url = new URL(window.location.href)
  const email = url.searchParams.get("email")
  document.querySelector("#span")!.textContent = email
</script>
