---
import Layout from "../layouts/Layout.astro"

const SEO = {
  title: "Uzimam | Politika privatnosti",
  description:
    "Politika privatnosti govori kako prikupljamo, dijelimo i čuvamo vaše podatke u skladu sa GDPR politikom.",
}
---

<Layout title={SEO.title} description={SEO.description}>
  <div class="container">
    <h3>Definicije u Politici Privatnosti</h3>
    <p>
      Ova politika privatnosti objašnjava kako prikupljamo, koristimo i čuvamo
      vaše osobne podatke prikupljene putem naše kontakt forme i newsletter
      prijave. Vaša privatnost nam je izuzetno važna, i poduzimamo sve potrebne
      mjere kako bismo osigurali da su vaši podaci zaštićeni u skladu s Općom
      uredbom o zaštiti podataka (GDPR).
    </p>

    <h4>
      Putem naše kontakt forme i newsletter prijave prikupljamo sljedeće osobne
      podatke:
    </h4>
    <ul>
      <li>Ime i prezime</li>
      <li>Email adresa</li>
      <li>Broj telefona (opcionalno, ako je prikupljanje omogućeno)</li>
    </ul>

    <h4>Prikupljamo vaše osobne podatke isključivo u svrhu:</h4>
    <ul>
      <li>Odgovaranja na vaše upite</li>
      <li>Davanja informacija o našim uslugama ili proizvodima</li>
      <li>Dogovaranja sastanaka ili pružanja podrške</li>
      <li>
        Slanja newslettera s informacijama o novostima, promocijama, uslugama i
        proizvodima
      </li>
    </ul>

    <h4>Pravna osnova za obradu</h4>
    <p>
      Obrađujemo vaše podatke na temelju vašeg pristanka koji dajete prilikom
      ispunjavanja kontakt forme ili prijave na newsletter. Pristanak možete
      povući u bilo kojem trenutku, ali imajte na umu da povlačenje pristanka
      može utjecati na našu sposobnost da vam pružimo tražene informacije,
      usluge ili promocije.
    </p>

    <h4>Dijeljenje podataka</h4>
    <p>
      Vaše osobne podatke nećemo dijeliti s trećim stranama, osim u sljedećim
      slučajevima:
    </p>
    <ul>
      <li>
        Kada koristimo vanjske pružatelje usluga, poput MailerLite-a, za
        upravljanje i slanje našeg newslettera. MailerLite obrađuje vaše podatke
        isključivo u skladu s našim uputama i važećim zakonima o zaštiti
        podataka.
      </li>
      <li>Kada je to potrebno radi ispunjenja zakonskih obveza.</li>
      <li>Na temelju vašeg izričitog pristanka.</li>
    </ul>

    <h4>Newsletter i mogućnost odjave</h4>
    <p>
      Ako se prijavite na naš newsletter, vaša email adresa će se koristiti
      isključivo za slanje informacija, vijesti i promocija. U svakom trenutku
      možete se odjaviti klikom na poveznicu za odjavu koja se nalazi u svakoj
      poslanoj email poruci ili nas možete kontaktirati putem email adrese
      <a href="mailto:info@uzimam.com">info@uzimam.com</a>.
    </p>

    <h4>Sigurnost podataka</h4>
    <p>
      Poduzimamo sve razumne tehničke i organizacijske mjere kako bismo
      zaštitili vaše osobne podatke od neovlaštenog pristupa, gubitka,
      zloupotrebe ili neovlaštene izmjene.
    </p>

    <h4>U skladu s GDPR-om, imate pravo na:</h4>
    <ul>
      <li>Pristup vašim osobnim podacima</li>
      <li>Ispravak netočnih podataka</li>
      <li>Brisanje vaših podataka (pravo na zaborav)</li>
      <li>Ograničenje obrade podataka</li>
      <li>Prigovor na obradu podataka</li>
      <li>Prenosivost podataka</li>
    </ul>
    <p>
      Ako želite iskoristiti bilo koje od ovih prava, molimo vas da nas
      kontaktirate putem email adrese
      <a href="mailto:info@uzimam.com">info@uzimam.com</a>.
    </p>

    <h4>Čuvanje podataka</h4>
    <p>
      Vaše podatke čuvamo onoliko dugo koliko je potrebno za ispunjenje svrhe
      zbog koje su prikupljeni, osim ako zakonski nije drugačije propisano.
    </p>

    <h4>Promjene politike privatnosti</h4>
    <p>
      Zadržavamo pravo izmjene ove politike privatnosti. Sve promjene bit će
      objavljene na ovoj stranici, stoga preporučujemo da povremeno provjerite
      ovu politiku kako biste bili informirani o načinu na koji štitimo vaše
      podatke.
    </p>
  </div>
</Layout>

<style>
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h3,
  h4,
  ul {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif !important;
    padding-bottom: 10px;
  }
</style>
