---
export const prerender = true
import Layout from "../layouts/Layout.astro"

const SEO = {
  title: "Uzimam | Politika privatnosti",
  description:
    "Politika privatnosti govori kako prikupljamo, dijelimo i čuvamo vaše podatke u skladu sa GDPR politikom.",
}
---

<Layout title={SEO.title} description={SEO.description}>
  <div class="container">
    <h3>Definicije u Politici Privatnosti</h3>
    <p>
      Ova politika privatnosti objašnjava kako prikupljamo, koristimo i čuvamo
      vaše osobne podatke prikupljene putem naše kontakt forme, newsletter
      prijave, registracije te korištenja našeg korisničkog sučelja. Vaša
      privatnost nam je izuzetno važna, i poduzimamo sve potrebne mjere kako
      bismo osigurali da su vaši podaci zaštićeni u skladu s Općom uredbom o
      zaštiti podataka (GDPR).
    </p>
    <h4>
      Putem naše kontakt forme, newsletter prijave, registracije i korištenja
      našeg korisničkog sučelja prikupljamo sljedeće osobne podatke:
    </h4>
    <ul>
      <li>Ime i prezime</li>
      <li>Email adresa</li>
      <li>Broj telefona (opcionalno, ako je prikupljanje omogućeno)</li>
      <li>Korisničko ime</li>
      <li>Podaci o aktivnosti i interakciji s korisničkim sučeljem</li>
    </ul>

    <h4>Prikupljamo vaše osobne podatke isključivo u svrhu:</h4>
    <ul>
      <li>Odgovaranje na vaše upite</li>
      <li>Davanje informacija o našim uslugama ili proizvodima</li>
      <li>Dogovaranje sastanaka ili pružanje podrške</li>
      <li>
        Slanje newslettera s informacijama o novostima, promocijama, uslugama i
        proizvodima
      </li>
      <li>Poboljšanje korisničkog iskustva na našem korisničkom sučelju</li>
      <li>Personalizacija sadržaja i preporuka na temelju vaših aktivnosti</li>
      <li>Poboljšanje naših usluga na temelju analize korisničkog ponašanja</li>
    </ul>

    <h4>Pravna osnova za obradu</h4>
    <p>
      Obrađujemo vaše podatke na temelju vašeg pristanka koji dajete prilikom
      ispunjavanja kontakt forme, prijave na newsletter, registracije na našu
      platformu i korištenja našeg korisničkog sučelja. Pristanak možete povući
      u bilo kojem trenutku, ali imajte na umu da povlačenje pristanka može
      utjecati na našu sposobnost da vam pružimo tražene informacije, usluge,
      promocije ili personalizirane usluge.
    </p>

    <h4>Dijeljenje podataka</h4>
    <p>
      Vaše osobne podatke nećemo dijeliti s trećim stranama, osim u sljedećim
      slučajevima:
    </p>
    <ul>
      <li>
        Kada koristimo vanjske pružatelje usluga, poput MailerLite-a, za
        upravljanje i slanje našeg newslettera. MailerLite obrađuje vaše podatke
        u skladu s njihovom <a
          href="https://www.mailerlite.com/legal/privacy-policy"
          >politikom privatnosti</a
        >
      </li>
      <li>
        Prilikom registracije ili prijave putem našeg sustava, koristimo usluge
        treće strane, Supabase, za autentifikaciju korisnika. Supabase može
        prikupljati osobne podatke kao što su vaša email adresa i jedinstveni
        identifikatori povezani s vašim računom kako bi omogućio pristup našim
        uslugama. Supabase obrađuje vaše podatke u skladu s vlastitim uvjetima
        poslovanja i politikom privatnosti. Za više informacija o tome kako
        Supabase koristi i štiti vaše podatke, preporučujemo da pročitate
        njihovu <a href="https://supabase.com/privacy">politiku privatnosti</a>.
      </li>
      <li>Kada je to potrebno radi ispunjenja zakonskih obveza.</li>
      <li>Na temelju vašeg izričitog pristanka.</li>
    </ul>
    <p>
      Važno je napomenuti da treće strane poduzimaju odgovarajuće sigurnosne
      mjere za zaštitu podataka, ali budući da je treća strana, ne možemo
      jamčiti za njihovu sigurnost u svim slučajevima.
    </p>

    <h4>Newsletter i mogućnost odjave</h4>
    <p>
      Ako se prijavite na naš newsletter, vaša email adresa će se koristiti
      isključivo za slanje informacija, vijesti i promocija. U svakom trenutku
      možete se odjaviti klikom na poveznicu za odjavu koja se nalazi u svakoj
      poslanoj email poruci ili nas možete kontaktirati putem email adrese
      <a href="mailto:info@uzimam.com">info@uzimam.com</a>.
    </p>

    <h4>
      Unos podataka o uzvanicima putem našeg korisničkog sučelja
      <p>
        Prilikom korištenja našeg korisničkog sučelja za unos podataka o vašim
        uzvanicima (npr. ime, prezime, kontakt informacije), prikupljamo i
        obrađujemo te podatke isključivo u svrhu pružanja naših usluga, kao što
        su organizacija događanja, slanje pozivnica ili drugih relevantnih
        obavijesti. Podaci koje unesete u naš sustav neće biti korišteni u bilo
        koju drugu svrhu osim za one navedene u ovoj politici privatnosti.
        Također, pridržavamo se svih važećih zakona o zaštiti podataka i
        poduzimamo sve potrebne mjere kako bismo osigurali sigurnost tih
        podataka.
      </p>
      <p>
        Podaci koje unesete putem našeg korisničkog sučelja, uključujući
        informacije o vašim uzvanicima, pohranjuju se u našoj bazi podataka,
        koju pruža i upravlja treća strana, Supabase. Supabase obrađuje te
        podatke u skladu s njihovim uvjetima i politikom privatnosti. Za više
        informacija o tome kako Supabase prikuplja, koristi i štiti vaše
        podatke, preporučujemo da pročitate njihovu <a
          href="https://supabase.com/privacy">politiku privatnosti</a
        >.
      </p>
    </h4>
    <h4>Sigurnost podataka</h4>
    <p>
      Poduzimamo sve razumne tehničke i organizacijske mjere kako bismo
      zaštitili vaše osobne podatke od neovlaštenog pristupa, gubitka,
      zloupotrebe ili neovlaštene izmjene.
    </p>

    <h4>U skladu s GDPR-om, imate pravo na:</h4>
    <ul>
      <li>Pristup vašim osobnim podacima</li>
      <li>Ispravak netočnih podataka</li>
      <li>Brisanje vaših podataka (pravo na zaborav)</li>
      <li>Ograničenje obrade podataka</li>
      <li>Prigovor na obradu podataka</li>
      <li>Prenosivost podataka</li>
    </ul>
    <p>
      Ako želite iskoristiti bilo koje od ovih prava, molimo vas da nas
      kontaktirate putem email adrese
      <a href="mailto:info@uzimam.com">info@uzimam.com</a>.
    </p>

    <h4>Čuvanje podataka</h4>
    <p>
      Vaše podatke čuvamo onoliko dugo koliko je potrebno za ispunjenje svrhe
      zbog koje su prikupljeni, osim ako zakonski nije drugačije propisano.
    </p>

    <h4>Promjene politike privatnosti</h4>
    <p>
      Zadržavamo pravo izmjene ove politike privatnosti. Sve promjene bit će
      objavljene na ovoj stranici, stoga preporučujemo da povremeno provjerite
      ovu politiku kako biste bili informirani o načinu na koji štitimo vaše
      podatke.
    </p>
  </div>
</Layout>

<style>
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h3,
  h4,
  ul {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif !important;
    padding-bottom: 10px;
  }
</style>
