---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <!-- start page-wrapper -->
  <div class="page-wrapper">
    <!-- Start header -->
    <div class="invitation-header">
      <a class="back-btn" href="/"><i class="ti-back-left"></i></a>
    </div>
    <!-- end of header -->
    <!-- start of hero -->
    <section
      class="wpo-invitation-area-s2"
      style="background: url(./assets/images/pozivnica.jpg) no-repeat center center;  background-size: cover;"
    >
      <div class="hero-container">
        <div class="hero-inner">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div
                  class="wpo-event-wrap wow fadeInRightSlow"
                  data-wow-duration="1600ms"
                >
                  <div class="wpo-event-item">
                    <div class="wpo-event-text">
                      <h2>Maja & Ivan</h2>
                      <p>Naš veliki dan je Listopad 19,2025</p>
                      <ul>
                        <li>
                          Ponedjeljak, 19 Lis. 2025 <br />
                          14:00 – 04:00
                        </li>
                        <li>Restoran Inela, Varaždinska 18, 10363 Belovar</li>
                        <li>099 123 45 67</li>
                        <li>
                          <a
                            href="https://maps.app.goo.gl/aDYW9CFN2kRHFYEFA"
                            target="_blank"
                            rel="noopener noreferrer">Lokacija na karti</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="frame-shape-1">
                    <img
                      src="assets/images/slider/invitation-shape-1.png"
                      alt=""
                    />
                  </div>
                  <div class="frame-shape-2">
                    <img
                      src="assets/images/slider/invitation-shape-2.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of hero slider -->
  </div>
</Layout>
