<section class="wpo-product-section section-padding pt-0">
  <div class="container">
    <div class="wpo-section-title">
      <h4 class="poort-text poort-in-right">Web dizajn</h4>
      <h2 class="poort-text poort-in-right">
        Izaberite stil koji vam odgovara
      </h2>
    </div>
    <div class="wpo-product-wrap">
      <div class="row">
        <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="wpo-product-item wow fadeInUp" data-wow-duration="1000ms">
            <div class="product-img-wrap">
              <a
                href="https://maja-ivan.uzimam.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div class="wpo-product-img">
                  <img src="assets/images/majaivan.png" />
                </div>
              </a>
            </div>
            <div class="wpo-product-text">
              <h3>
                <a
                  href="https://maja-ivan.uzimam.com/"
                  target="_blank"
                  rel="noopener noreferrer">Amor Vitae designe</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="wpo-product-item wow fadeInUp" data-wow-duration="1000ms">
            <div class="product-img-wrap">
              <a
                href="https://matea-stipe.uzimam.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div class="wpo-product-img">
                  <img src="assets/images/mateastipe.png" />
                </div>
              </a>
            </div>
            <div class="wpo-product-text">
              <h3>
                <a
                  href="https://matea-stipe.uzimam.com/"
                  target="_blank"
                  rel="noopener noreferrer">Dulcis Amor designe</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="wpo-product-item wow fadeInUp" data-wow-duration="1000ms">
            <div class="product-img-wrap">
              <span>
                <div class="wpo-product-img">
                  <img src="assets/images/uskoro.png" />
                </div>
              </span>
            </div>
            <div class="wpo-product-text">
              <h3>
                <!-- <a
                  href="https://maja-ivan.uzimam.com/"
                  target="_blank"
                  rel="noopener noreferrer">Amor Vitae designe</a
                > -->
              </h3>
            </div>
          </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="wpo-product-item wow fadeInUp" data-wow-duration="1000ms">
            <div class="product-img-wrap">
              <span>
                <div class="wpo-product-img">
                  <img src="assets/images/uskoro.png" />
                </div>
              </span>
            </div>
            <div class="wpo-product-text">
              <h3>
                <!-- <a
                  href="https://maja-ivan.uzimam.com/"
                  target="_blank"
                  rel="noopener noreferrer">Amor Vitae designe</a
                > -->
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end container -->
</section>
