<section class="wpo-category-section section-padding">
  <h2 class="hidden">category</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-xs-12">
        <div class="category-grids category-slider owl-carousel">
          <div class="grid">
            <img class="pozivnica" src="assets/images/category/pozivnica.svg" />
            <span>web pozivnica</span>
          </div>
          <div class="grid">
            <img class="info" src="assets/images/category/info.svg" />
            <span>o vjenčanju</span>
          </div>
          <div class="grid">
            <img src="assets/images/category/category6.svg" />
            <span>slike</span>
          </div>
          <div class="grid">
            <img src="assets/images/category/category2.svg" />
            <span>vječne uspomene</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .pozivnica {
    max-width: 75px;
    max-height: 55px;
  }
  .info {
    max-width: 75px;
    max-height: 65px;
  }
</style>
