<footer class="wpo-site-footer">
  <div class="wpo-upper-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col col-xl-6 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="widget about-widget">
            <a class="logo" href="https://www.uzimam.com/"
              ><img class="logo-img" src="assets/images/logo-bijeli.svg" /></a
            >

            <p>
              Izrada romantičnih i nezaboravnih svadbenih web stranica kao
              uspomena za cijeli život.
            </p>
          </div>
        </div>

        <div class="col col-xl-6 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="widget about-widget">
            <div class="widget-title">
              <h3>Contact</h3>
            </div>

            <a class="web" href="mailto:info@uzimam.com">info@uzimam.com</a>

            <div class="widget about-widget">
              <ul>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.uzimam.com/">
                    <i class="ti-world"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <div class="wpo-lower-footer">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <p class="copyright">
            &copy; Copyright 2024 | <a href="#">Uzimam</a> | All right reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
  .web {
    font-size: large;
    cursor: pointer;
    color: white;
    display: block;
    padding-bottom: 7px;
  }
  .widget {
  }

  .logo-img {
    max-width: 270px;
    padding-bottom: 20px;
  }
</style>
