<footer class="wpo-site-footer">
  <div class="wpo-upper-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>Links</h3>
            </div>
            <div class="link-wrap">
              <ul>
                <li>
                  <a href="/politika-privatnosti">Privatnost</a>
                </li>
                <li>
                  <a href="impressum">Impressum</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col col-xl-6 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="widget about-widget">
            <a class="logo" href="https://www.uzimam.com/"
              ><img
                class="logo-img"
                src="/assets/images/logo/logo-bijeli.svg"
              /></a
            >

            <p>
              Izrada romantičnih i nezaboravnih svadbenih web stranica za
              uspomenu za cijeli život.
            </p>
          </div>
        </div>

        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="widget wpo-service-link-widget">
            <div class="widget-title">
              <h3>Contact</h3>
            </div>

            <a class="web" href="mailto:info@uzimam.com">info@uzimam.com</a>

            <div class="widget about-widget">
              <ul>
                <li>
                  <a href="https://www.facebook.com/uzimamcom/" target="_blank">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="tel:+385976785381">
                    <i class="ti-mobile"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/uzimam_com/"
                    target="_blank"
                  >
                    <i class="ti-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <div class="wpo-lower-footer">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <p class="copyright">
            &copy; Copyright 2025 | <a href="/">Uzimam</a> | All right reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
  .web {
    font-size: large;
    cursor: pointer;
    color: white;
    display: block;
    padding-bottom: 7px;
  }
  .widget {
  }

  .logo-img {
    max-width: 270px;
    padding-bottom: 20px;
  }
</style>
