<section class="wpo-hero-slider style-2">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div
        class="slide-inner slide-bg-image"
        data-background="/assets/images/hero-img.jpg"
      >
      </div>
    </div>
  </div>
  <div class="slider-text">
    <h2 class="poort-text poort-in-up">
      DOBRODOŠLI NA UZIMAM.COM <h2>
        <p class="wow fadeInUp hero-p" data-wow-duration="1700ms">
          Stvorite trajne uspomene u obliku web stranice
        </p>
      </h2>
    </h2>
    <!-- end of hero slider -->
  </div>
</section>
<style>
  .poort-text {
    letter-spacing: 4px;
  }
  .hero-p {
    letter-spacing: 3px;
  }
</style>
