<section class="shop-hero">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col col-lg-6 col-12">
        <div class="wpo-static-hero-inner">
          <div class="slide-shape wow fadeInUp" data-wow-duration="1500ms">
            <img src="assets/images/slider/s-shape-1.png" />
          </div>
          <div class="slide-title wow fadeInUp" data-wow-duration="1500ms">
            <h2>Vaše vjenčanje, Vaše uspomene</h2>
          </div>
          <!-- <div class="slide-price wow fadeInUp" data-wow-duration="1500ms">
            <i class="ti-heart"></i>
          </div> -->
          <div
            data-swiper-parallax="400"
            class="slide-text wow fadeInUp"
            data-wow-duration="1600ms"
          >
            <p>
              Stvorite moderne online pozivnice sa svim detaljima i
              informacijama vezanih uz Vaše vjenčanje u obliku vlastite web
              stranice. Sačuvajte uspomene u galeriji fotografija. Savršeno za
              dijeljenje s obitelji i prijateljima, uvijek i svugdje.
            </p>
          </div>
          <div
            data-swiper-parallax="400"
            class="slide-btn-wtap wow fadeInUp"
            data-wow-duration="1600ms"
          >
            <ul>
              <li><a href="/kontakt" class="theme-btn">Naruči</a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="slide-shape wow fadeInUp" data-wow-duration="1500ms">
            <img src="assets/images/slider/s-shape-2.png" />
          </div>
        </div>
      </div>
      <div class="col col-lg-6 col-12">
        <div class="shop-right">
          <img src="assets/images/main.jpeg" />
        </div>
      </div>
    </div>
  </div>
</section>
