<section class="wpo-hero-slider style-2">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div
        class="slide-inner slide-bg-image"
        data-background="/assets/images/hero-img.jpg"
      >
      </div>
    </div>
  </div>
  <div class="slider-text">
    <h2 class="poort-text poort-in-up">DOBRODOŠLI NA UZIMAM.COM</h2>
    <p class="wow fadeInUp" data-wow-duration="1700ms">
      Neka vaše vjenčanje ostane zapamćeno zauvijek...
    </p>
  </div>
</section>
<!-- end of hero slider -->
