<header id="header">
  <div class="wpo-site-header wpo-header-style-1">
    <nav class="navigation navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
            <div class="mobail-menu">
              <button type="button" class="navbar-toggler open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar first-angle"></span>
                <span class="icon-bar middle-angle"></span>
                <span class="icon-bar last-angle"></span>
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-6">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"
                ><img src="/assets/images/logo-rozi.svg" /></a
              >
            </div>
          </div>
          <div class="col-lg-8 col-md-1 col-1">
            <div id="navbar" class="collapse navbar-collapse navigation-holder">
              <button class="menu-close"><i class="ti-close"></i></button>
              <ul class="nav navbar-nav mb-2 mb-lg-0">
                <li>
                  <a href="/">HOME</a>
                </li>
                <li class="menu-item-has-children">
                  <a>Free & Fun</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="/free-and-fun/free-wedding-stickers"
                        >Free stickers</a
                      >
                    </li>
                    <li>
                      <a href="/free-and-fun/ai-izbor-pjesama"
                        >AI - Izbor Pjesama</a
                      >
                    </li>
                  </ul>
                  <li class="menu-item-has-children">
                    <a>Web stranica za mladence</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="/izrada-web-stranica-za-mladence/dizajn-1"
                          >Dizajn 1</a
                        >
                      </li>
                      <li>
                        <a href="/izrada-web-stranica-za-mladence/dizajn-2"
                          >Dizajn 2</a
                        >
                      </li>
                      <li>
                        <a href="/izrada-web-stranica-za-mladence/dizajn-3"
                          >Dizajn 3</a
                        >
                      </li>
                      <li>
                        <a href="/izrada-web-stranica-za-mladence/dizajn-4"
                          >Dizajn 4</a
                        >
                      </li>
                    </ul>
                    <li>
                      <a href="/kontakt">Mladenci</a>
                    </li>
                    <li>
                      <a href="/kontakt">Kontakt</a>
                    </li>
                  </li>
                </li><!-- end of nav-collapse -->
              </ul>
            </div>
          </div><!-- end of container -->
        </div>
      </div>
    </nav>
  </div>
</header>
