---
import SessionButton from "./auth/SessionButton.astro"
const { user } = Astro.props
---

<header id="header">
  <div class="wpo-site-header wpo-header-style-1">
    <nav class="navigation navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
            <div class="mobail-menu">
              <button type="button" class="navbar-toggler open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar first-angle"></span>
                <span class="icon-bar middle-angle"></span>
                <span class="icon-bar last-angle"></span>
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-6">
            <div class="navbar-header">
              <a class="navbar-brand" href="index.html"
                ><img src="/assets/images/logo/logo-boja.svg" /></a
              >
            </div>
            <br />
          </div>
          <div class="col-lg-8 col-md-1 col-1">
            <div id="navbar" class="collapse navbar-collapse navigation-holder">
              <button class="menu-close"><i class="ti-close"></i></button>
              <ul class="nav navbar-nav mb-2 mb-lg-0">
                <li>
                  <a href="/">HOME</a>
                </li>
                <li class="menu-item-has-children">
                  <a>Free & Fun</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="/free-and-fun/free-wedding-stickers"
                        >Free stickers</a
                      >
                    </li>
                    <li>
                      <a href="/free-and-fun/free-wedding-planner"
                        >Weddin planner</a
                      >
                    </li>
                    <li>
                      <a href="/free-and-fun/ai-izbor-pjesama"
                        >AI - Izbor Pjesama</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a>Usluge</a>
                  <ul class="sub-menu">
                    <li class="menu-item-has-children">
                      <a>Web stranica</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="/izrada-web-stranica-za-mladence"
                            >Izrada stranice</a
                          >
                        </li>
                        <li>
                          <a href="/izrada-web-stranica-za-mladence/dizajn-1"
                            >Dizajn Flora</a
                          >
                        </li>
                        <li>
                          <a href="/izrada-web-stranica-za-mladence/dizajn-2"
                            >Dizajn Bella</a
                          >
                        </li>
                        <li>
                          <a href="/izrada-web-stranica-za-mladence/dizajn-3"
                            >Dizajn Clara</a
                          >
                        </li>
                        <li>
                          <a href="/izrada-web-stranica-za-mladence/dizajn-4"
                            >Dizajn Aurea</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="/ai-pozivnice-za-vjencanje">AI pozivnice</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="/cjenik">Cjenik</a>
                </li>
                <li>
                  <a href="/kontakt">Kontakt</a>
                </li>
              </ul>
            </div>
            <!-- end of nav-collapse -->
          </div>
          <div class="col-1">
            <SessionButton user={user} />
            <!-- <a href="/login"><i class="ti-user"></i></a> -->
          </div>
        </div>
      </div>
      <!-- end of container -->
    </nav>
  </div>
</header>
