<section class="wpo-category-section-s2 back-color">
  <h2 class="hidden">some</h2>
  <div class="wpo-section-title">
    <h4 class="poort-text poort-in-right">Web Pozivnice</h4>
    <h2 class="poort-text poort-in-right">Na brz i moderan način</h2>
  </div>
  <div class="container-fluid">
    <div class="wpo-category-wrap">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
          <div class="wpo-category-item align">
            <div class="wpo-category-img">
              <a href="https://maja-ivan.uzimam.com/pozivnica" target="_blank">
                <img src="assets/images/pozivnica.png" />
              </a>
            </div>
            <div
              class="wpo-category-text wow fadeInUp"
              data-wow-duration="1600ms"
            >
              <h3>
                <a
                  class="web-pozivnica"
                  href="https://maja-ivan.uzimam.com/pozivnica"
                  target="_blank"
                >
                  <i class="ti-heart"></i></a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
          <div class="wpo-category-item">
            <div class="wpo-category-img">
              <a
                href="https://matea-stipe.uzimam.com/pozivnica"
                target="_blank"
              >
                <img src="assets/images/pozivnica2.png" /></a
              >
            </div>
            <div
              class="wpo-category-text wow fadeInUp"
              data-wow-duration="1600ms"
            >
              <h3 class="web-pozivnica2">
                <a
                  href="https://matea-stipe.uzimam.com/pozivnica"
                  target="_blank"
                >
                  <i class="ti-heart web-pozivnica2"></i></a
                >
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<style>
  .web-pozivnica {
    font-weight: 800;
    font-size: xx-large;
  }
  .web-pozivnica2 {
    font-weight: 800;
    font-size: xx-large;
    color: black;
  }

  .back-color {
    background-color: #f8f3f2;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .align {
    text-align: right;
  }
</style>
