<section class="wpo-category-section-s2">
  <h2 class="hidden">some</h2>
  <div class="container-fluid">
    <div class="wpo-category-wrap">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
          <div class="wpo-category-item">
            <div class="wpo-category-img">
              <img src="assets/images/pozivnica.png" />
            </div>
            <div
              class="wpo-category-text wow fadeInUp"
              data-wow-duration="1600ms"
            >
              <h3>
                <a
                  class="web-pozivnica"
                  href="https://maja-ivan.uzimam.com/pozivnica">Web pozivnica</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
          <div class="wpo-category-item">
            <div class="wpo-category-img">
              <img src="assets/images/pozivnica.png" />
            </div>
            <div
              class="wpo-category-text wow fadeInUp"
              data-wow-duration="1600ms"
            >
              <h3>
                <a
                  class="web-pozivnica"
                  href="https://maja-ivan.uzimam.com/pozivnica"
                  >Web pozivnica</a>
              </h3>
              <p>Here is Our Latest Collection</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<style>
  .web-pozivnica {
    font-weight: 800;
  }
</style>
