---
export const prerender = true
import Layout from "../../layouts/Layout.astro"
---

<Layout>
  <div class="wpo-hero-date wow fadeInUp" data-wow-duration="1700ms">
    <h2>
      <span class="shape-1"
        ><img src="/assets/images/slider/heading-shape-1.png" /></span
      >
      Esabella & William
      <span class="shape-2"
        ><img src="/assets/images/slider/heading-shape-2.png" />
      </span>
    </h2>
    <p>We Are Getting Married November 15,2024</p>
  </div>
  <!-- wedding-date-end -->
  <!-- start of hero -->
  <section class="wpo-hero-slider">
    <h2 class="hidden">hidden</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="slide-inner slide-bg-image"
            data-background="/assets/images/slider/slide-1.jpg"
          >
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->

        <div class="swiper-slide">
          <div
            class="slide-inner slide-bg-image"
            data-background="/assets/images/slider/slide-2.jpg"
          >
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->

        <div class="swiper-slide">
          <div
            class="slide-inner slide-bg-image"
            data-background="/assets/images/slider/slide-3.jpg"
          >
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
      </div>
      <!-- end swiper-wrapper -->

      <!-- swipper controls -->
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <!-- end of hero slider -->
  <!-- start wpo-wedding-date -->
  <section class="wpo-wedding-date-s3">
    <h2 class="d-none">hidden</h2>
    <div class="container">
      <div class="wedding-date-wrap">
        <div class="clock-grids">
          <div id="clock"></div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-wedding-date-s3-->

  <!-- start couple-section -->
  <section class="couple-section section-padding pb-0" id="couple">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col col-xs-12">
          <div class="couple-area clearfix">
            <div class="text-grid bride">
              <div class="couple-text">
                <i><img src="/assets/images/couple/bride2.svg" /></i>
                <h3>Esabella Bell</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna
                  orci auctor vitae nisl. fringilla pellesque amet tempus.
                </p>
                <div class="social">
                  <ul>
                    <li>
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-twitter-"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="middle-couple-pic">
              <div class="middle-couple-pic-inner">
                <img src="/assets/images/couple/couple-img-11.jpg" />
              </div>
            </div>
            <div class="text-grid groom">
              <div class="couple-text">
                <i><img src="/assets/images/couple/groom2.svg" /></i>
                <h3>William Max</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna
                  orci auctor vitae nisl. fringilla pellesque amet tempus.
                </p>
                <div class="social">
                  <ul>
                    <li>
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-twitter-"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end couple-section -->

  <!-- start wpo-story-section -->
  <section class="wpo-story-section-s4 section-padding" id="story">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Our Story</h4>
        <h2 class="poort-text poort-in-right">Our Sweet Love Story</h2>
      </div>
      <div class="wpo-story-wrap">
        <div class="wpo-story-item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12">
              <div
                class="wpo-story-img-wrap wow fadeInLeftSlow"
                data-wow-duration="1700ms"
              >
                <div class="wpo-story-img">
                  <img src="/assets/images/story/story-10.jpg" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div
                class="wpo-story-content wow fadeInRightSlow"
                data-wow-duration="1700ms"
              >
                <div class="wpo-story-content-inner">
                  <h2>First Time We Meet</h2>
                  <span>12 Feb 2016</span>
                  <p>
                    Lorem ipsum dolor sit amet, constetur adicng elit. Ultricies
                    nulla mi tempus mcorper for praesent. Ultricies interdum
                    volutpat morbi nam ornare neque elit leo, diam. Malesuada
                    enim ac amurna tempor vel duis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-story-item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12 order-lg-2 order-1">
              <div
                class="wpo-story-img-wrap wow fadeInRightSlow"
                data-wow-duration="1700ms"
              >
                <div class="wpo-story-img">
                  <img src="/assets/images/story/story-11.jpg" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 order-lg-1 order-2">
              <div
                class="wpo-story-content wow fadeInLeftSlow"
                data-wow-duration="1700ms"
              >
                <div class="wpo-story-content-inner">
                  <h2>Our First Date</h2>
                  <span>23 Apr 2016</span>
                  <p>
                    Lorem ipsum dolor sit amet, constetur adicng elit. Ultricies
                    nulla mi tempus mcorper for praesent. Ultricies interdum
                    volutpat morbi nam ornare neque elit leo, diam. Malesuada
                    enim ac amurna tempor vel duis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-story-item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12">
              <div
                class="wpo-story-img-wrap wow fadeInLeftSlow"
                data-wow-duration="1700ms"
              >
                <div class="wpo-story-img">
                  <img src="/assets/images/story/story-12.jpg" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div
                class="wpo-story-content wow fadeInRightSlow"
                data-wow-duration="1700ms"
              >
                <div class="wpo-story-content-inner">
                  <h2>She Said Yes</h2>
                  <span>10 Mar 2016</span>
                  <p>
                    Lorem ipsum dolor sit amet, constetur adicng elit. Ultricies
                    nulla mi tempus mcorper for praesent. Ultricies interdum
                    volutpat morbi nam ornare neque elit leo, diam. Malesuada
                    enim ac amurna tempor vel duis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end story-section -->

  <!-- start wpo-video-section -->
  <section class="wpo-video-section">
    <h2 class="hidden">some</h2>
    <div class="container-fluid">
      <div class="video-wrap">
        <img src="/assets/images/cta.jpg" />
        <a
          href="https://www.youtube.com/embed/P3M6j0o04LY"
          class="video-btn"
          data-type="iframe"><i class="fi flaticon-play"></i></a
        >
      </div>
    </div>
  </section>
  <!-- end wpo-video-section-->

  <!-- start wpo-portfolio-section -->
  <section class="wpo-portfolio-section-s4 section-padding" id="gallery">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Sweet Memories</h4>
        <h2 class="poort-text poort-in-right">Our Captured Moment</h2>
      </div>
      <div class="sortable-gallery">
        <div class="gallery-filters"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="portfolio-grids gallery-container clearfix">
              <div class="grid wow fadeInUp" data-wow-duration="1000ms">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/30.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/30.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid wow fadeInUp" data-wow-duration="1200ms">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/31.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/31.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid wow fadeInUp" data-wow-duration="1400ms">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/32.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/32.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid wow fadeInUp" data-wow-duration="1000ms">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/33.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/33.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid wow fadeInUp" data-wow-duration="1400ms">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/35.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/35.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="grid wow fadeInUp" data-wow-duration="1200ms">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/34.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/34.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-portfolio-section -->

  <!-- start of wpo-contact-section -->
  <section class="wpo-contact-section-s5 section-padding" id="rsvp">
    <div
      class="top-bg"
      style="
            background: url(/assets/images/rsvp/bg2.jpg) no-repeat center
              center;
            background-size: cover;
          "
    >
    </div>
    <div class="wpo-contact-section-inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col col-xl-5 col-lg-7 col-md-12 col-12">
            <div
              class="wpo-contact-section-wrapper wow fadeInLeftSlow"
              data-wow-duration="1700ms"
            >
              <div class="wpo-contact-form-area">
                <div class="wpo-section-title">
                  <h2>Are You Attending?</h2>
                </div>
                <form
                  method="post"
                  class="contact-validation-active"
                  id="contact-form-main"
                >
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      placeholder="Name"
                    />
                  </div>
                  <div>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="radio-buttons">
                    <p>
                      <input
                        type="radio"
                        id="attend"
                        name="radio-group"
                        checked
                      />
                      <label for="attend">Yes, I will be there</label>
                    </p>
                    <p>
                      <input type="radio" id="not" name="radio-group" />
                      <label for="not">Sorry, I can’t come</label>
                    </p>
                  </div>
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      name="with-you"
                      id="with-you"
                      placeholder="Who is coming with you"
                    />
                  </div>
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      name="note"
                      id="note"
                      placeholder="Extra note for us"
                    />
                  </div>
                  <div>
                    <select name="guest" class="form-control">
                      <option disabled="disabled" selected
                        >Music preference</option
                      >
                      <option>Pop</option>
                      <option>Rock</option>
                      <option>Jazz</option>
                    </select>
                  </div>
                  <div class="submit-area">
                    <button type="submit" class="theme-btn">RSVP</button>
                    <div id="c-loader">
                      <i class="ti-reload"></i>
                    </div>
                  </div>
                  <div class="clearfix error-handling-messages">
                    <div id="success">Thank you</div>
                    <div id="error">
                      Error occurred while sending email. Please try again
                      later.
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of wpo-contact-section -->

  <!-- start wpo-blog-section -->
  <section class="wpo-blog-section-s3">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Latest News</h4>
        <h2 class="poort-text poort-in-right">Our Latest Wedding News</h2>
      </div>
      <div class="wpo-blog-items">
        <div class="row">
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1000ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-4.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">Robertson Doe</a></li>
                  <li>25 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">Best Wedding Gown For Your Dream Day</a>
                </h2>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1200ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-5.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">David Luis</a></li>
                  <li>23 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">You Must Need a Great Photographer</a>
                </h2>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1400ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-6.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">Aliana de</a></li>
                  <li>21 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">Top 10 Wedding Bouquet Arranging Idea </a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-blog-section -->
  <!-- start wpo-partners-section -->
  <section class="wpo-partners-section section-padding pt-0">
    <h2 class="hidden">Partners</h2>
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="partner-grids partners-slider owl-carousel">
            <div class="grid">
              <img src="/assets/images/partners/1.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/2.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/3.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/4.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/5.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
</Layout>
