---
export const prerender = true
import Layout from "../../layouts/Layout.astro"
---

<Layout>
  <section class="static-hero-s3">
    <div class="static-main-box">
      <div class="container-fluid">
        <div class="static-inner-box">
          <div class="row align-items-center">
            <div
              class="col col-xl-3 col-sm-6 col-lg-3 col-12 order-lg-1 order-2"
            >
              <div
                class="couple-text wow fadeInLeftSlow"
                data-wow-duration="1500ms"
              >
                <div class="couple-text-inner">
                  <i><img src="/assets/images/couple/bride2.svg" /></i>
                  <h3>Esabella Bell</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Urna orci auctor vitae nisl. fringilla pellesque amet
                    tempus.
                  </p>
                  <div class="social">
                    <ul>
                      <li><a href="#"><i class="ti-facebook"></i></a></li>
                      <li><a href="#"><i class="ti-twitter-"></i></a></li>
                      <li><a href="#"><i class="ti-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="shape1">
                  <img src="/assets/images/slider/shape-1.png" />
                </div>
                <div class="shape2">
                  <img src="/assets/images/slider/shape-2.png" />
                </div>
                <div class="shape3">
                  <img src="/assets/images/slider/shape-3.png" />
                </div>
              </div>
            </div>
            <div
              class="col col-xl-6 col-lg-6 col-md-8 col-12 order-lg-2 order-1"
            >
              <div class="wpo-static-hero-img">
                <div class="wpo-static-hero-ineer-img">
                  <img src="/assets/images/dizajn/dizajn2/hero.png" />

                  <div
                    class="hero-text wow fadeInUp"
                    data-wow-duration="1500ms"
                  >
                    <span>We Are Getting Married In</span>
                    <p>12 . 12 . 2024</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col col-xl-3 col-lg-3 col-sm-6 col-12 order-lg-3 order-3"
            >
              <div
                class="couple-text wow fadeInRightSlow"
                data-wow-duration="1500ms"
              >
                <div class="couple-text-inner">
                  <i><img src="/assets/images/couple/groom2.svg" /></i>
                  <h3>William Max</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Urna orci auctor vitae nisl. fringilla pellesque amet
                    tempus.
                  </p>
                  <div class="social">
                    <ul>
                      <li><a href="#"><i class="ti-facebook"></i></a></li>
                      <li><a href="#"><i class="ti-twitter-"></i></a></li>
                      <li><a href="#"><i class="ti-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="shape1">
                  <img src="/assets/images/slider/shape-1.png" />
                </div>
                <div class="shape2">
                  <img src="/assets/images/slider/shape-2.png" />
                </div>
                <div class="shape3">
                  <img src="/assets/images/slider/shape-3.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of hero slider -->
  <!-- start wpo-wedding-date -->
  <section class="wpo-wedding-date-s2 section-padding">
    <h2 class="d-none">hidden</h2>
    <div class="container">
      <div class="wedding-date-wrap">
        <div class="clock-grids">
          <div id="clock"></div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-wedding-date-s3-->
  <!-- start wpo-story-section -->
  <section class="wpo-story-section-s3 section-padding pt-0" id="story">
    <div class="container-fluid">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Our Story</h4>
        <h2 class="poort-text poort-in-right">Our Sweet Love Story</h2>
      </div>
      <div class="wpo-story-wrap">
        <div class="wpo-story-item">
          <div class="wpo-story-img-wrap">
            <div class="wpo-story-img">
              <img src="/assets/images/dizajn/dizajn2/love-story/1.png" />
              <div
                class="wpo-img-shape wow fadeInLeftSlow"
                data-wow-duration="1200ms"
              >
                <img src="/assets/images/story/flower-shape-1.png" />
              </div>
            </div>
          </div>
          <div class="wpo-story-content">
            <div class="wpo-story-content-inner">
              <h2>First Time We Meet</h2>
              <span>12 Feb 2016</span>
              <p>
                Lorem ipsum dolor sit amet, constetur adicng elit. Ultricies
                nulla mi tempus mcorper for praesent. Ultricies interdum
                volutpat morbi nam ornare neque elit leo, diam. Malesuada enim
                ac amurna tempor vel duis.
              </p>

              <div class="inner-shape">
                <img src="/assets/images/story/flower-shape-2.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-story-item">
          <div class="wpo-story-img-wrap">
            <div class="wpo-story-img">
              <img src="/assets/images/dizajn/dizajn2/love-story/2.png" />
              <div
                class="wpo-img-shape wow fadeInRightSlow"
                data-wow-duration="1200ms"
              >
                <img src="/assets/images/story/flower-shape-1.png" />
              </div>
            </div>
          </div>
          <div class="wpo-story-content">
            <div class="wpo-story-content-inner">
              <h2>Our First Date</h2>
              <span>23 Apr 2016</span>
              <p>
                Lorem ipsum dolor sit amet, constetur adicng elit. Ultricies
                nulla mi tempus mcorper for praesent. Ultricies interdum
                volutpat morbi nam ornare neque elit leo, diam. Malesuada enim
                ac amurna tempor vel duis.
              </p>
              <div class="inner-shape">
                <img src="/assets/images/story/flower-shape-2.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-story-item">
          <div class="wpo-story-img-wrap">
            <div class="wpo-story-img">
              <img src="/assets/images/dizajn/dizajn2/love-story/3.png" />
              <div
                class="wpo-img-shape wow fadeInLeftSlow"
                data-wow-duration="1200ms"
              >
                <img src="/assets/images/story/flower-shape-1.png" />
              </div>
            </div>
          </div>
          <div class="wpo-story-content">
            <div class="wpo-story-content-inner">
              <h2>She Said Yes</h2>
              <span>10 Mar 2016</span>
              <p>
                Lorem ipsum dolor sit amet, constetur adicng elit. Ultricies
                nulla mi tempus mcorper for praesent. Ultricies interdum
                volutpat morbi nam ornare neque elit leo, diam. Malesuada enim
                ac amurna tempor vel duis.
              </p>
              <div class="inner-shape">
                <img src="/assets/images/story/flower-shape-2.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end story-section -->

  <!-- start wpo-portfolio-section -->
  <section class="wpo-portfolio-section section-padding pt-0" id="gallery">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Sweet Memories</h4>
        <h2 class="poort-text poort-in-right">Our Captured Moment</h2>
      </div>
      <div class="gallery-main-wrap">
        <div class="col-lg-12">
          <div class="sortable-gallery">
            <div class="row portfolio-grids style-1 clearfix">
              <div class="col-lg-4 col-md-6 col-12 grid">
                <div class="img-holder wow fadeInUp" data-wow-duration="1000ms">
                  <a
                    href="/assets/images/dizajn/dizajn2/gallery/1.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn2/gallery/1.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 grid">
                <div class="img-holder wow fadeInUp" data-wow-duration="1200ms">
                  <a
                    href="/assets/images/dizajn/dizajn2/gallery/2.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn2/gallery/2.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 grid">
                <div class="img-holder wow fadeInUp" data-wow-duration="1400ms">
                  <a
                    href="/assets/images/dizajn/dizajn2/gallery/3.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn2/gallery/3.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 grid">
                <div class="img-holder wow fadeInUp" data-wow-duration="1000ms">
                  <a
                    href="/assets/images/dizajn/dizajn2/gallery/4.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn2/gallery/4.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 grid">
                <div class="img-holder wow fadeInUp" data-wow-duration="1200ms">
                  <a
                    href="/assets/images/dizajn/dizajn2/gallery/5.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn2/gallery/5.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 grid">
                <div class="img-holder wow fadeInUp" data-wow-duration="1400ms">
                  <a
                    href="/assets/images/dizajn/dizajn2/gallery/6.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn2/gallery/6.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-portfolio-section -->

  <!-- start of wpo-contact-section -->
  <section class="wpo-contact-section-s3 section-padding pt-0" id="rsvp">
    <div class="container">
      <div class="contact-wrap">
        <div class="wpo-contact-section-wrapper">
          <div class="wpo-contact-form-area">
            <div class="wpo-section-title">
              <h2>Are You Attending?</h2>
            </div>
            <form
              method="post"
              class="contact-validation-active"
              id="contact-form-main"
            >
              <div>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="Name"
                />
              </div>
              <div>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Email"
                />
              </div>
              <div class="radio-buttons">
                <p>
                  <input type="radio" id="attend" name="radio-group" checked />
                  <label for="attend">Yes, I will be there</label>
                </p>
                <p>
                  <input type="radio" id="not" name="radio-group" />
                  <label for="not">Sorry, I can’t come</label>
                </p>
              </div>
              <div>
                <input
                  type="text"
                  class="form-control"
                  name="with-you"
                  id="with-you"
                  placeholder="Who is coming with you"
                />
              </div>
              <div>
                <input
                  type="text"
                  class="form-control"
                  name="note"
                  id="note"
                  placeholder="Extra note for us"
                />
              </div>
              <div>
                <select name="guest" class="form-control">
                  <option disabled="disabled" selected>Music preference</option>
                  <option>Pop</option>
                  <option>Rock</option>
                  <option>Jazz</option>
                </select>
              </div>
              <div class="submit-area">
                <button type="submit" class="theme-btn">RSVP</button>
                <div id="c-loader">
                  <i class="ti-reload"></i>
                </div>
              </div>
              <div class="clearfix error-handling-messages">
                <div id="success">Thank you</div>
                <div id="error">
                  Error occurred while sending email. Please try again later.
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="shape-1 wow fadeInLeftSlow" data-wow-duration="2000ms">
          <img src="/assets/images/rsvp/left-shape3.png" />
        </div>
        <div class="shape-2 wow fadeInRightSlow" data-wow-duration="2000ms">
          <img src="/assets/images/rsvp/right-shape3.png" />
        </div>
      </div>
    </div>
  </section>
  <!-- end of wpo-contact-section -->

  <!-- start wpo-event-section -->
  <section class="wpo-event-section-s2 section-padding pt-0" id="event">
    <div class="container-fluid">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">When & Where</h4>
        <h2 class="poort-text poort-in-right">Our Wedding Programs</h2>
      </div>
      <div class="wpo-event-main">
        <div class="event-description">
          <p>Monday, 12 Apr. 2024, 2.00 PM – 11.00 PM</p>
          <p>4517 Washington Ave. Manchester, Kentucky 39495</p>
        </div>
        <div class="wpo-event-wrap">
          <div class="wpo-event-inner">
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/1.svg" /></i>
                <span>Welcome Drinks</span>
              </div>
              <div class="wpo-event-time">
                <h4>2.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/2.svg" /></i>
                <span>Ceremony</span>
              </div>
              <div class="wpo-event-time">
                <h4>3.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/3.svg" /></i>
                <span>Party Photos</span>
              </div>
              <div class="wpo-event-time">
                <h4>5.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/4.svg" /></i>
                <span>Dinner</span>
              </div>
              <div class="wpo-event-time">
                <h4>7.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/5.svg" /></i>
                <span>Cake Cutting</span>
              </div>
              <div class="wpo-event-time">
                <h4>9.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/6.svg" /></i>
                <span>First Dance</span>
              </div>
              <div class="wpo-event-time">
                <h4>10.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/7.svg" /></i>
                <span>Depart</span>
              </div>
              <div class="wpo-event-time">
                <h4>11.00 PM</h4>
              </div>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-event-section -->

  <!-- start wpo-blog-section -->
  <section class="wpo-blog-section-s2 section-padding">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Latest News</h4>
        <h2 class="poort-text poort-in-right">Our Latest Wedding News</h2>
      </div>
      <div class="wpo-blog-items">
        <div class="row">
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1000ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-1.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">Robertson Doe</a></li>
                  <li>25 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">Best Wedding Gown For Your Dream Day</a>
                </h2>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1200ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-2.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">David Luis</a></li>
                  <li>23 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">You Must Need a Great Photographer</a>
                </h2>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1400ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-3.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">Aliana de</a></li>
                  <li>21 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">Top 10 Wedding Bouquet Arranging Idea </a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-blog-section -->
  <!-- start wpo-partners-section -->
  <section class="wpo-partners-section section-padding">
    <h2 class="hidden">Partners</h2>
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="partner-grids partners-slider owl-carousel">
            <div class="grid">
              <img src="/assets/images/partners/1.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/2.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/3.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/4.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/5.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-partners-section-->
</Layout>

<style>
  .space {
    padding-left: 15px;
  }
  .elegant-text {
    color: #333333; /* A soft, elegant color */
    font-size: 0.9em; /* Slightly larger font for readability */
    letter-spacing: 0.06em; /* Adds spacing between letters for sophistication */
    line-height: 1.6; /* Creates a clean, airy feel */
    text-shadow: 0px 1px 2px rgba(232, 94, 237, 0.3); /* Adds subtle depth */
    word-spacing: 0.1em; /* Adds spacing between words */
    margin: 20px 0; /* Adds breathing space around the text */
  }
</style>
