---
export const prerender = true
import Layout from "../../layouts/Layout.astro"
---

<Layout
  ><section class="static-hero-s4">
    <div class="static-main-box">
      <div class="container-fluid">
        <div class="static-inner-box">
          <div class="row align-items-center">
            <div class="col col-xl-5 col-lg-5 col-md-5 col-12">
              <div class="hero-text">
                <h2 class="wow fadeInLeftSlow" data-wow-duration="1200ms">
                  Esabella & William
                </h2>
                <div class="wow fadeInLeftSlow" data-wow-duration="1400ms">
                  <span>We Are Getting Married In</span>
                </div>
                <p class="wow fadeInLeftSlow" data-wow-duration="1600ms">
                  12 . 12 . 2024
                </p>
              </div>
            </div>
            <div class="col col-xl-7 col-lg-7 col-md-7 col-12">
              <div class="wpo-static-hero-img">
                <div class="wpo-static-hero-ineer-img">
                  <img src="/assets/images/dizajn/dizajn3/hero.png" />
                </div>
                <div class="back-flower">
                  <img
                    src="/assets/images/slider/back-flower.png"
                    class="wow zoomIn"
                    data-wow-duration="1200ms"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of hero slider -->

  <!-- start wpo-couple-section -->
  <section class="wpo-couple-section-s3 section-padding">
    <div class="container-fluid">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-4 col-md-6 order-lg-1 order-1">
          <div class="couple-left">
            <div
              class="couple-item wow fadeInLeftSlow"
              data-wow-duration="1200ms"
            >
              <div class="couple-img">
                <img src="/assets/images/dizajn/dizajn3/love-story/1.png" />
                <div class="l-shape">
                  <img src="/assets/images/couple/l-shape-1.png" />
                </div>
              </div>
              <div class="couple-text">
                <h2>First Time We Meet</h2>
                <span>12 Feb 2016</span>
              </div>
            </div>
            <div
              class="couple-item wow fadeInLeftSlow"
              data-wow-duration="1400ms"
            >
              <div class="couple-img">
                <img src="/assets/images/dizajn/dizajn3/love-story/2.png" />
                <div class="l-shape">
                  <img src="/assets/images/couple/l-shape-2.png" />
                </div>
              </div>
              <div class="couple-text">
                <h2>Our First Kiss</h2>
                <span>12 Feb 2017</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 order-lg-2 order-3">
          <div class="couple-middle">
            <div class="couple-middle-item">
              <div class="couple-img">
                <img src="/assets/images/dizajn/dizajn3/maja.png" />
              </div>
              <div class="couple-text">
                <h3>Esabella Bell</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna
                  orci auctor vitae nisl. fringilla pellesque amet tempus.
                </p>
                <div class="social">
                  <ul>
                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                    <li><a href="#"><i class="ti-twitter-"></i></a></li>
                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="couple-middle-love-text">
              <h2 class="poort-text poort-in-up">Love</h2>
            </div>
            <div class="couple-middle-item">
              <div class="couple-img">
                <img src="/assets/images/dizajn/dizajn3/ivan.png" />
              </div>
              <div class="couple-text">
                <h3>William Max</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna
                  orci auctor vitae nisl. fringilla pellesque amet tempus.
                </p>
                <div class="social">
                  <ul>
                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                    <li><a href="#"><i class="ti-twitter-"></i></a></li>
                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 order-lg-3 order-2">
          <div class="couple-right">
            <div
              class="couple-item wow fadeInRightSlow"
              data-wow-duration="1200ms"
            >
              <div class="couple-img">
                <img src="/assets/images/dizajn/dizajn3/love-story/3.png" />
                <div class="l-shape">
                  <img src="/assets/images/couple/l-shape-3.png" />
                </div>
              </div>
              <div class="couple-text">
                <h2>Our First Date</h2>
                <span>12 Feb 2018</span>
              </div>
            </div>
            <div
              class="couple-item wow fadeInRightSlow"
              data-wow-duration="1400ms"
            >
              <div class="couple-img">
                <img src="/assets/images/dizajn/dizajn3/love-story/4.png" />
                <div class="l-shape">
                  <img src="/assets/images/couple/l-shape-4.png" />
                </div>
              </div>
              <div class="couple-text">
                <h2>She Said Yes!</h2>
                <span>12 Feb 2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-couple-section -->

  <section class="wpo-portfolio-section-s2 section-padding pt-0" id="gallery">
    <div class="container-fluid">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Sweet Memories</h4>
        <h2 class="poort-text poort-in-right">Our Captured Moment</h2>
      </div>
      <div class="gallery-main-wrap">
        <div class="sortable-gallery">
          <div class="portfolio-top">
            <div class="line">
              <svg
                height="127"
                viewBox="0 0 1920 127"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M-6 1C173.333 95 814 226.6 1942 1"
                  stroke="#CAA6C7"
                  stroke-width="2"></path>
              </svg>
            </div>
            <div class="portfolio-grids clearfix">
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/1.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/1.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/2.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/2.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/3.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/3.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/4.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/4.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/5.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/5.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid full">
                <div class="line">
                  <svg
                    height="127"
                    viewBox="0 0 1920 127"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M-6 1C173.333 95 814 226.6 1942 1"
                      stroke="#CAA6C7"
                      stroke-width="2"></path>
                  </svg>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/6.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/6.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/7.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/7.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/8.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/8.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/9.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/9.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/dizajn/dizajn3/gallery/10.png"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/dizajn/dizajn3/gallery/10.png"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-portfolio-section -->

  <!-- start wpo-team-section -->
  <section class="wpo-team-section">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Top Guest</h4>
        <h2 class="poort-text poort-in-right">Bridesmaids & Groomsman</h2>
      </div>
      <div class="wpo-team-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="wpo-team-item wow fadeInUp" data-wow-duration="1200ms">
              <div class="team-img-wrap">
                <div class="wpo-team-img">
                  <img src="/assets/images/example/team/img-1.jpg" />
                </div>
              </div>
              <div class="wpo-team-text">
                <h3>Jenny Wilson</h3>
                <span>Bridemaids</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="wpo-team-item wow fadeInUp" data-wow-duration="1400ms">
              <div class="team-img-wrap">
                <div class="wpo-team-img">
                  <img src="/assets/images/example/team/img-2.jpg" />
                </div>
              </div>
              <div class="wpo-team-text">
                <h3>Robert Fox</h3>
                <span>Groomsman</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="wpo-team-item wow fadeInUp" data-wow-duration="1600ms">
              <div class="team-img-wrap">
                <div class="wpo-team-img">
                  <img src="/assets/images/example/team/img-3.jpg" />
                </div>
              </div>
              <div class="wpo-team-text">
                <h3>Annette Black</h3>
                <span>Groomsman</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="wpo-team-item wow fadeInUp" data-wow-duration="1800ms">
              <div class="team-img-wrap">
                <div class="wpo-team-img">
                  <img src="/assets/images/example/team/img-4.jpg" />
                </div>
              </div>
              <div class="wpo-team-text">
                <h3>Jerome Bell</h3>
                <span>Bridemaids</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-team-section -->

  <!-- start of wpo-contact-section -->
  <section class="wpo-contact-section-s4 section-padding pt-0" id="rsvp">
    <div
      class="wpo-contact-section-inner"
      style="background: url(/assets/images/dizajn/dizajn3/rsvp.png) no-repeat center center;  background-size: cover;"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col col-xl-5 col-lg-7 col-md-12 col-12">
            <div
              class="wpo-contact-section-wrapper wow fadeInLeftSlow"
              data-wow-duration="1700ms"
            >
              <div class="wpo-contact-form-area">
                <div class="wpo-section-title">
                  <h2>Are You Attending?</h2>
                </div>
                <form
                  method="post"
                  class="contact-validation-active"
                  id="contact-form-main"
                >
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      placeholder="Name"
                    />
                  </div>
                  <div>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="radio-buttons">
                    <p>
                      <input
                        type="radio"
                        id="attend"
                        name="radio-group"
                        checked
                      />
                      <label for="attend">Yes, I will be there</label>
                    </p>
                    <p>
                      <input type="radio" id="not" name="radio-group" />
                      <label for="not">Sorry, I can’t come</label>
                    </p>
                  </div>
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      name="with-you"
                      id="with-you"
                      placeholder="Who is coming with you"
                    />
                  </div>
                  <div>
                    <input
                      type="text"
                      class="form-control"
                      name="note"
                      id="note"
                      placeholder="Extra note for us"
                    />
                  </div>
                  <div>
                    <select name="guest" class="form-control">
                      <option disabled="disabled" selected
                        >Music preference</option
                      >
                      <option>Pop</option>
                      <option>Rock</option>
                      <option>Jazz</option>
                    </select>
                  </div>
                  <div class="submit-area">
                    <button type="submit" class="theme-btn">RSVP</button>
                    <div id="c-loader">
                      <i class="ti-reload"></i>
                    </div>
                  </div>
                  <div class="clearfix error-handling-messages">
                    <div id="success">Thank you</div>
                    <div id="error">
                      Error occurred while sending email. Please try again
                      later.
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of wpo-contact-section -->

  <!-- start wpo-event-section -->
  <section class="wpo-event-section-s2 section-padding pt-0" id="event">
    <div class="container-fluid">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">When & Where</h4>
        <h2 class="poort-text poort-in-right">Our Wedding Programs</h2>
      </div>
      <div class="wpo-event-main">
        <div class="event-description">
          <p>Monday, 12 Apr. 2024, 2.00 PM – 11.00 PM</p>
          <p>4517 Washington Ave. Manchester, Kentucky 39495</p>
        </div>
        <div class="wpo-event-wrap">
          <div class="wpo-event-inner">
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/1.svg" /></i>
                <span>Welcome Drinks</span>
              </div>
              <div class="wpo-event-time">
                <h4>2.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/2.svg" /></i>
                <span>Ceremony</span>
              </div>
              <div class="wpo-event-time">
                <h4>3.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/3.svg" /></i>
                <span>Party Photos</span>
              </div>
              <div class="wpo-event-time">
                <h4>5.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/4.svg" /></i>
                <span>Dinner</span>
              </div>
              <div class="wpo-event-time">
                <h4>7.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/5.svg" /></i>
                <span>Cake Cutting</span>
              </div>
              <div class="wpo-event-time">
                <h4>9.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/6.svg" /></i>
                <span>First Dance</span>
              </div>
              <div class="wpo-event-time">
                <h4>10.00 PM</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/7.svg" /></i>
                <span>Depart</span>
              </div>
              <div class="wpo-event-time">
                <h4>11.00 PM</h4>
              </div>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-event-section -->

  <!-- start wpo-blog-section -->
  <section class="wpo-blog-section-s2 section-padding">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Latest News</h4>
        <h2 class="poort-text poort-in-right">Our Latest Wedding News</h2>
      </div>
      <div class="wpo-blog-items">
        <div class="row">
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1000ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-1.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">Robertson Doe</a></li>
                  <li>25 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">Best Wedding Gown For Your Dream Day</a>
                </h2>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1200ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-2.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">David Luis</a></li>
                  <li>23 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">You Must Need a Great Photographer</a>
                </h2>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1400ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/img-3.jpg" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <a href="blog-single.html">Aliana de</a></li>
                  <li>21 Sep 2024</li>
                </ul>
                <h2>
                  <a href="#">Top 10 Wedding Bouquet Arranging Idea </a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-blog-section -->
  <!-- start wpo-partners-section -->
  <section class="wpo-partners-section section-padding">
    <h2 class="hidden">Partners</h2>
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="partner-grids partners-slider owl-carousel">
            <div class="grid">
              <img src="/assets/images/partners/1.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/2.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/3.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/4.png" />
            </div>
            <div class="grid">
              <img src="/assets/images/partners/5.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
</Layout>
<style>
  .space {
    padding-left: 15px;
  }
  .elegant-text {
    color: #333333; /* A soft, elegant color */
    font-size: 0.9em; /* Slightly larger font for readability */
    letter-spacing: 0.06em; /* Adds spacing between letters for sophistication */
    line-height: 1.6; /* Creates a clean, airy feel */
    text-shadow: 0px 1px 2px rgba(232, 94, 237, 0.3); /* Adds subtle depth */
    word-spacing: 0.1em; /* Adds spacing between words */
    margin: 20px 0; /* Adds breathing space around the text */
  }
</style>
