---
export const prerender = true
import Layout from "../../layouts/Layout.astro"
---

<Layout>
  <section class="static-hero-s2">
    <div class="static-main-box">
      <div class="container-fluid">
        <div class="static-inner-box">
          <div class="row align-items-center">
            <div
              class="col col-xl-3 col-sm-6 col-lg-3 col-12 order-lg-1 order-1"
            >
              <div
                class="static-hero-img wow fadeInLeftSlow"
                data-wow-duration="1500ms"
              >
                <img src="/assets/images/slider/maja.jpg" />
              </div>
            </div>
            <div
              class="col col-xl-6 col-lg-6 col-md-8 col-12 order-lg-2 order-3"
            >
              <div class="wpo-static-hero-text-wrap">
                <div class="wpo-static-hero-text-box">
                  <div class="slide-title">
                    <h2 class="poort-text poort-in-up">Maja & Ivan</h2>
                  </div>
                  <div
                    class="slide-text wow fadeInUp"
                    data-wow-duration="1600ms"
                  >
                    <p>Dan vjenčanja</p>
                  </div>
                  <div
                    class="slide-date wow fadeInUp"
                    data-wow-duration="1700ms"
                  >
                    <p>05 . 10 . 2024</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div
                  class="shape wow fadeInLeftSlow"
                  data-wow-duration="2500ms"
                >
                  <img src="/assets/images/slider/left-shape-1.png" />
                </div>
                <div
                  class="shape2 wow fadeInRightSlow"
                  data-wow-duration="2500ms"
                >
                  <img src="/assets/images/slider/left-shape-2.png" />
                </div>
              </div>
            </div>
            <div
              class="col col-xl-3 col-lg-3 col-sm-6 col-12 order-lg-3 order-2"
            >
              <div
                class="static-hero-img wow fadeInRightSlow"
                data-wow-duration="1500ms"
              >
                <img src="/assets/images/slider/ivan.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of hero slider -->
  <!-- start wpo-wedding-date -->
  <section class="wpo-wedding-date section-padding">
    <h2 class="d-none">hidden</h2>
    <div class="container">
      <div class="wedding-date-wrap">
        <div class="clock-grids">
          <div id="clock"></div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-wedding-date-s3-->
  <!-- start couple-section -->

  <section class="wpo-video-section">
    <h2 class="hidden">some</h2>
    <div class="container-fluid">
      <div class="video-wrap">
        <img src="/assets/images/video-img.jpg" alt="" />
        <a
          href="https://www.youtube.com/embed/P3M6j0o04LY"
          class="video-btn"
          data-type="iframe"><i class="fi flaticon-play"></i></a
        >
      </div>
    </div>
    <div class="bottom-text marquee">
      <h2>Love is the most Beautiful Feelings in the World.</h2>
    </div>
  </section>
  <!-- end couple-section -->
  <!-- start wpo-story-section -->
  <section class="wpo-story-section-s2 section-padding pb-0" id="story">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Naša priča</h4>
        <h2 class="poort-text poort-in-right">Our Sweet Love Story</h2>
      </div>
      <div class="wpo-story-wrap">
        <div class="wpo-story-item">
          <div class="row">
            <div class="col col-lg-6 col-12">
              <div class="wpo-story-img">
                <img src="/assets/images/story/meet.jpg" />
              </div>
            </div>
            <div class="col col-lg-6 col-12">
              <div class="wpo-story-content">
                <i><img src="/assets/images/story/f-shape-1.png" /></i>
                <h2>Prvo upoznavanje</h2>
                <span>12 Feb 2016</span>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Alias, cum. Reiciendis mollitia voluptate ducimus earum
                  tempore atque deserunt, aspernatur saepe iure dignissimos,
                  minima sit maiores possimus, cum corporis quo et.
                </p>
                <i><img src="/assets/images/story/f-shape-2.png" /></i>
                <div class="top-shape">
                  <img src="/assets/images/story/tassel.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-story-item">
          <div class="row">
            <div class="col col-lg-6 col-12">
              <div class="wpo-story-img">
                <img src="/assets/images/story/date.jpg" />
              </div>
            </div>
            <div class="col col-lg-6 col-12">
              <div class="wpo-story-content">
                <i><img src="/assets/images/story/f-shape-1.png" /></i>
                <h2>Prvi spoj</h2>
                <span>25 Mar 2017</span>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Commodi ad minima natus molestiae, quia vero officiis aut
                  provident. Fugit id quasi consectetur numquam enim culpa
                  adipisci quas veritatis quo iste!
                </p>
                <i><img src="/assets/images/story/f-shape-2.png" /></i>
                <div class="top-shape">
                  <img src="/assets/images/story/tassel.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpo-story-item">
          <div class="row">
            <div class="col col-lg-6 col-12">
              <div class="wpo-story-img">
                <img src="/assets/images/story/yes.jpg" />
              </div>
            </div>
            <div class="col col-lg-6 col-12">
              <div class="wpo-story-content">
                <i><img src="/assets/images/story/f-shape-1.png" /></i>
                <h2>She Said Yes!</h2>
                <span>18 Sep 2020</span>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Recusandae adipisci dolorem corporis modi incidunt iure facere
                  aspernatur ipsum, quod nostrum nemo voluptatem voluptate
                  accusamus doloremque vero quos odit, cupiditate mollitia.
                </p>
                <i><img src="/assets/images/story/f-shape-2.png" /></i>
                <div class="top-shape">
                  <img src="/assets/images/story/tassel.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
    <div class="flower-shape-1">
      <div class="flower-sticky">
        <img src="/assets/images/story/shape3.png" />
      </div>
    </div>
    <div class="flower-shape-2">
      <div class="flower-sticky">
        <img src="/assets/images/story/shape4.png" />
      </div>
    </div>
  </section>
  <!-- end story-section -->

  <!-- start wpo-portfolio-section -->
  <section class="wpo-portfolio-section-s2 section-padding pt-0" id="gallery">
    <div class="container-fluid">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Slatki trenutci</h4>
        <h2 class="poort-text poort-in-right">Naše najdraže slike</h2>
      </div>
      <div class="gallery-main-wrap">
        <div class="sortable-gallery">
          <div class="portfolio-top">
            <div class="line">
              <svg
                height="127"
                viewBox="0 0 1920 127"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M-6 1C173.333 95 814 226.6 1942 1"
                  stroke="#CAA6C7"
                  stroke-width="2"></path>
              </svg>
            </div>
            <div class="portfolio-grids clearfix">
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/naj1.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/naj1.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/naj2.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/naj2.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/naj3.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/naj3.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/naj4.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/naj4.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <a
                    href="/assets/images/portfolio/naj5.jpg"
                    class="fancybox"
                    data-fancybox-group="gall-1"
                  >
                    <img
                      src="/assets/images/portfolio/naj5.jpg"
                      class="img img-responsive"
                    />
                    <div class="hover-content">
                      <i class="ti-plus"></i>
                    </div>
                  </a>
                </div>
                <div class="clothespin">
                  <img src="/assets/images/portfolio/clothespin.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-portfolio-section -->

  <!-- start of wpo-contact-section -->
  <section class="wpo-contact-section-s2 section-padding pt-0" id="rsvp">
    <div class="container">
      <div class="contact-wrap">
        <div class="wpo-contact-section-wrapper">
          <div class="wpo-contact-form-area">
            <div class="wpo-section-title">
              <h2>Potvrdite dolazak</h2>
            </div>
            <form>
              <div>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="Ime"
                />
              </div>
              <div>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Email"
                />
              </div>
              <div class="radio-buttons">
                <p>
                  <input type="radio" id="attend" name="dolazak" value="yes" />
                  <label for="attend">Da, dolazim/o</label>
                </p>
                <p>
                  <input type="radio" id="not" name="dolazak" value="no" />
                  <label for="not">Nažalost, nećemo moći</label>
                </p>
              </div>
              <div>
                <input
                  type="text"
                  class="form-control"
                  name="tko-sve-dolazi"
                  id="with-you"
                  placeholder="Tko sve dolazi?"
                />
              </div>
              <div>
                <input
                  type="text"
                  class="form-control"
                  name="note"
                  id="note"
                  placeholder="Imate neku poruku za nas?"
                />
              </div>
              <div>
                <select name="muzika" class="form-control">
                  <option disabled="disabled" selected>Muzički ukus</option>
                  <option>Pop</option>
                  <option>Rock</option>
                  <option>Jazz</option>
                </select>
              </div>

              <div class="submit-area">
                <button type="submit" class="theme-btn">RSVP</button>
              </div>
            </form>
          </div>
        </div>
        <div class="back-shape">
          <img src="/assets/images/rsvp/rsvp-bg.png" />
        </div>
        <div class="shape-1 wow fadeInLeftSlow" data-wow-duration="2000ms">
          <img src="/assets/images/rsvp/left-shape2.png" />
        </div>
        <div class="shape-2 wow fadeInRightSlow" data-wow-duration="2000ms">
          <img src="/assets/images/rsvp/right-shape2.png" />
        </div>
      </div>
    </div>
    <div class="bottom-text marquee2">
      <h2>Veselimo se vašem dolasku na naš poseban dan!</h2>
    </div>
  </section>
  <!-- end of wpo-contact-section -->

  <section
    class="wpo-event-section-s2 section-padding pt-0 background-pink"
    id="event"
  >
    <div class="container-fluid">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Gdje & Kada</h4>
        <h2 class="poort-text poort-in-right">Kratke informacije</h2>
      </div>
      <div class="wpo-event-main">
        <div class="event-description">
          <p>Ponedjeljak, 05 Listopada 2024, 14:00 – 04:00</p>
          <p>Restoran Inela, Varaždinska 18, 10363 Belovar</p>
        </div>
        <div class="wpo-event-wrap">
          <div class="wpo-event-inner">
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/1.svg" /></i>
                <span
                  >Okupljanje kod mlade, <br /> Osiječka ulica 31, 10410 Velika Gorica</span
                >
              </div>
              <div class="wpo-event-time">
                <h4>14:00</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/2.svg" /></i>
                <span>Crkvena ceremonija,<br /> crkva Ščitarjevo</span>
              </div>
              <div class="wpo-event-time">
                <h4>17:00</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/3.svg" /></i>
                <span>Slikanje</span>
              </div>
              <div class="wpo-event-time">
                <h4>18:15</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/4.svg" /></i>
                <span>Dolazak u salu, <br /> Restoran Inela, 10363 Belovar</span
                >
              </div>
              <div class="wpo-event-time">
                <h4>20:00</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/6.svg" /></i>
                <span>Prvi ples</span>
              </div>
              <div class="wpo-event-time">
                <h4>21:00</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/5.svg" /></i>
                <span>Rezanje torte</span>
              </div>
              <div class="wpo-event-time">
                <h4>00:00</h4>
              </div>
            </div>
            <div class="wpo-event-item">
              <div class="wpo-event-text">
                <i><img src="/assets/images/icon/7.svg" /></i>
                <span>Kraj svadbe, <br /> ali početak ljubavne priče</span>
              </div>
              <div class="wpo-event-time">
                <h4>04:00</h4>
              </div>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>

  <!-- start wpo-blog-section -->
  <section class="wpo-blog-section section-padding">
    <div class="container">
      <div class="wpo-section-title">
        <h4 class="poort-text poort-in-right">Blog</h4>
        <h2 class="poort-text poort-in-right">Objave vezane uz vjenčanje</h2>
      </div>
      <div class="wpo-blog-items">
        <div class="row">
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1000ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/blog-primjer/naslovna.png" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>
                    By <span>Maja & Ivan</span>
                  </li>
                  <li>25 Sep 2024</li>
                </ul>
                <h2>
                  <a href="/izrada-web-stranica-za-mladence/blog-primjer"
                    >Sve o lokaciji vjenčanja i dress codu</a
                  >
                </h2>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1200ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/blog-primjer/naslovna.png" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <span>Kumovi</span></li>
                  <li>23 Sep 2024</li>
                </ul>
                <h2>
                  <a href="/izrada-web-stranica-za-mladence/blog-primjer"
                    >Koja vas muzika očekuje, upoznajte bend</a
                  >
                </h2>
              </div>
            </div>
          </div>
          <div class="col col-lg-4 col-md-6 col-12">
            <div class="wpo-blog-item wow fadeInUp" data-wow-duration="1400ms">
              <div class="wpo-blog-img">
                <img src="/assets/images/blog/blog-primjer/naslovna.png" />
              </div>
              <div class="wpo-blog-content">
                <ul>
                  <li>By <span>Maja & Ivan</span></li>
                  <li>21 Sep 2024</li>
                </ul>
                <h2>
                  <a href="/izrada-web-stranica-za-mladence/blog-primjer"
                    >Zahvala svima koji su uveličali naš dan</a
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-blog-section -->

  <!-- start wpo-partners-section -->
  <section class="wpo-partners-section section-padding">
    <h2 class="hidden">Partners</h2>
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="partner-grids partners-slider owl-carousel">
            <div class="grid space">
              <em class="elegant-text"
                >"Ti nisi samo dio mog svijeta, ti si razlog zbog kojeg svijet
                postoji."</em
              >
            </div>
            <div class="grid space">
              <em class="elegant-text"
                >"U svijetu punom prolaznog, ti si moje zauvijek."
              </em>
            </div>
            <div class="grid space">
              <em class="elegant-text"
                >"U tvojoj ljubavi pronašao sam slobodu, a u tvom zagrljaju
                vječnost."</em
              >
            </div>
            <div class="grid space">
              <em class="elegant-text"
                >"Tvoj glas je melodija koja liječi moje tišine."</em
              >
            </div>
            <div class="grid space">
              <em class="elegant-text"
                >"Kad si pored mene, svijet je tiši, a ljubav glasnija."</em
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <style>
    .space {
      padding-left: 15px;
    }
    .elegant-text {
      color: #333333; /* A soft, elegant color */
      font-size: 0.9em; /* Slightly larger font for readability */
      letter-spacing: 0.06em; /* Adds spacing between letters for sophistication */
      line-height: 1.6; /* Creates a clean, airy feel */
      text-shadow: 0px 1px 2px rgba(232, 94, 237, 0.3); /* Adds subtle depth */
      word-spacing: 0.1em; /* Adds spacing between words */
      margin: 20px 0; /* Adds breathing space around the text */
    }
    .background-pink {
      background-color: #fefafe;
    }
  </style>
</Layout>
<style>
  .space {
    padding-left: 15px;
  }
  .elegant-text {
    color: #333333; /* A soft, elegant color */
    font-size: 0.9em; /* Slightly larger font for readability */
    letter-spacing: 0.06em; /* Adds spacing between letters for sophistication */
    line-height: 1.6; /* Creates a clean, airy feel */
    text-shadow: 0px 1px 2px rgba(232, 94, 237, 0.3); /* Adds subtle depth */
    word-spacing: 0.1em; /* Adds spacing between words */
    margin: 20px 0; /* Adds breathing space around the text */
  }
</style>
