---
import Footer from "../components/Footer.astro"
import Nav from "../components/Nav.astro"
import Preloader from "../components/Preloader.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <meta
      name="description"
      content="Stvorite moderne online pozivnice sa svim detaljima i
                informacijama vezanih uz Vaše vjenčanje u obliku vlastite web
                stranice. Sačuvajte uspomene u galeriji fotografija. Savršeno za
                dijeljenje s obitelji i prijateljima, uvijek i svugdje."
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>Maja & Ivan - Uzimam - vjenčanje za pamćenje</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/nice-select.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="page-wrap">
      <Preloader />
      <Nav />
      <slot />
      <Footer />
    </div>

    <script src="/assets/js/jquery.min.js" is:inline></script>
    <script src="/assets/js/bootstrap.bundle.min.js" is:inline></script>
    <!-- Plugins for this template -->
    <script src="/assets/js/modernizr.custom.js" is:inline></script>
    <script src="/assets/js/jquery-plugin-collection.js" is:inline></script>
    <script src="/assets/js/gsap-active.js" is:inline></script>
    <!-- Custom script for this template -->
    <script src="/assets/js/script.js" is:inline></script>
  </body>
</html>
