---
import { getCollection } from "astro:content"
import Sticker from "../../components/Sticker.astro"
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/ui/Header.astro"
import FeedBackForm from "../../components/ui/FeedBackForm.astro"

const data = await getCollection("stickers")

const SEO = {
  title: "Uzimam | Free wedding stickers",
  description:
    "Besplatni wedding stickeri za vaše posebne trenutke! Preuzmite kolekciju jedinstvenih i elegantnih stickera za planiranje vjenčanja, dekoracije, pozivnice i još mnogo toga. Dodajte personalizirani dodir vašem velikom danu – preuzimanje je jednostavno i potpuno besplatno!",
}
---

<Layout title={SEO.title} description={SEO.description}>
  <Header
    title="Stickers"
    subtitle="Stickeri na svadbi postaju sve popularniji jer pružaju zabavan, kreativan i personaliziran način za obogatiti proslavu"
  />

  <!-- start wpo-shop-page -->
  <section class="wpo-shop-page section-padding">
    <h2 class="hidden">Weeding stickers</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 order-lg-2">
          <!-- start wpo-product-section -->
          <div class="wpo-product-section">
            <div class="sorting-section">
              <ul>
                <li class="novi">Svaki tjedan novi stickeri</li>
                <li>
                  <a href="#kontakt-stickers" class="button">Naruči rezanje</a>
                </li>
              </ul>
            </div>
            <div class="wpo-product-wrap">
              <div class="row">
                {data.map((sticker: any) => <Sticker sticker={sticker} />)}
              </div>
            </div>
          </div>
          <!-- end wpo-product-section -->
        </div>
        <div class="col-lg-3 col-md-8 order-lg-1">
          <div class="wpo-shop-sidebar">
            <div class="widget woocommerce widget_product_categories"></div>
            <div class="widget woocommerce widget_product_categories">
              <h3>Upute</h3>
              <ul class="product-categories">
                <li class="cat-item cat-parent">
                  <span>Izaberite motive</span>
                </li>
                <li class="cat-item cat-parent">
                  <span>Preuzmite besplatno u PDF-u</span>
                </li>
                <li class="cat-item cat-parent">
                  <span>Isprintajte na samoljepljivom papiru</span>
                </li>
                <li class="cat-item cat-parent">
                  <span>Izrežite škarama</span>
                </li>
                <li class="cat-item cat-parent">
                  <span>Pišite nam svoje želje</span>
                </li>
                <li class="cat-item cat-parent">
                  <span>Samo za osobnu upotrebu</span>
                </li>
              </ul>
            </div>

            <div class="widget woocommerce widget_product_categories">
              <h3>Naručite strojno rezanje</h3>
              <ul class="product-categories">
                <li class="cat-item cat-parent">
                  <span
                    >Izrada i rezanje stickera i cake-toppera po narudžbi:
                  </span>
                  <a class="link" href="https://www.bonani.hr/" target="_blank"
                    >obrt Bonani</a
                  >
                </li>
              </ul>
            </div>
            <div class="widget woocommerce widget_product_categories">
              <h3>Što još?!</h3>
              <ul class="product-categories">
                <li class="cat-item cat-parent">
                  <a class="link" href="/free-and-fun/ai-izbor-pjesama"
                    >AI - popis pjesama</a
                  >
                </li>
                <li class="cat-item cat-parent">
                  <a class="link" href="/free-and-fun/free-wedding-planner"
                    >Free wedding planner</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <FeedBackForm
    id="kontakt-stickers"
    title="Pišite nam"
    text="Naručite izradu i strojno rezanje personaliziranih stickera! Također, predložite vrste stickera koje biste željeli da kreiramo za besplatnu upotrebu."
  />
</Layout>
<style>
  .novi {
    color: #a28aac;
  }
  .button {
    padding: 10px 20px;
    background-color: #b5a2bd;
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: #a28aac;
  }
  .link {
    display: block;
    color: blue !important;
    padding-top: 5px;
  }
</style>
