---
import SignoutButton from "./SignoutButton"

const { name } = Astro.locals
---

{
  !name ? (
    <a href="/signin" class="theme-btn-s4">
      <i
        class="fi flaticon-user"
        style="color: black;"
        class="view-cart-btn s1"
      />
    </a>
  ) : (
    <div class="mini-cart">
      <button class="cart-toggle-btn theme-btn-s4">
        <i
          class="fi flaticon-user"
          style="color: black;"
          class="view-cart-btn s1"
        />
      </button>
      <div class="mini-cart-content">
        <button class="mini-cart-close">
          <i class="ti-close" />
        </button>

        <div class="mini-cart-items">
          <div class="mini-cart-item clearfix">
            <span class="mini-checkout-price">
              Pozdrav, <span>{name ? name : "error"}</span>
            </span>
            <div class="mini-btn">
              <a
                href="/dashboard"
                class="view-cart-btn s1"
                style="text-align: center;"
              >
                Dashboard
              </a>
              <a
                href="/ai-pozivnice-za-vjencanje#pozivnica"
                class="view-cart-btn s1"
                style="text-align: center;"
              >
                Pozivnice
              </a>
              <SignoutButton client:idle />
            </div>
          </div>
        </div>
      </div>
    </div>
  )
}
