---
type Props = {
  title: string
}

const { title } = Astro.props
---

<section class="wpo-service-section" id="Service">
  <div class="container">
    <div class="wpo-section-title">
      <h4 class="poort-text poort-in-right">{title}</h4>
    </div>
  </div>
</section>
