<section class="wpo-pricing-section section-padding">
  <div class="container">
    <div class="wpo-section-title">
      <h2 class="poort-text poort-in-right">Izaberi paket</h2>
    </div>
    <div class="wpo-pricing-wrap">
      <div class="row">
        <div class="col col-lg-4 col-md-6 col-12">
          <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1200ms">
            <div class="wpo-pricing-item-inner">
              <div class="wpo-pricing-top">
                <div class="wpo-pricing-text">
                  <h4>Silver</h4>
                  <h2><small>€</small>159<span>/jednokratno</span></h2>
                </div>
              </div>
              <div class="wpo-pricing-bottom">
                <div class="wpo-pricing-bottom-text">
                  <ul>
                    <li>Odbrojavanje do vjenčanja</li>
                    <li>Vaša ljubavna priča</li>
                    <li>
                      Prvi set slika - prije vjenčanja, drugi set slika - sa
                      vjenčanja
                    </li>
                    <li>Informacije i detalji o vjenčanju</li>
                    <li>Raspored događaja po satima</li>
                    <li>Jednokratna uplata, bez dodatnih troškova</li>
                  </ul>
                  <a
                    class="theme-btn"
                    href="/izrada-web-stranica-za-mladence/osnovni-paket-primjer"
                    >Primjer</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
          <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1400ms">
            <div class="wpo-pricing-item-inner">
              <div class="wpo-pricing-top">
                <div class="wpo-pricing-text">
                  <h4>Gold</h4>
                  <h2><small>€</small>199<span>/jednokratno</span></h2>
                </div>
              </div>
              <div class="wpo-pricing-bottom">
                <div class="wpo-pricing-bottom-text">
                  <ul>
                    <li>Sve iz Silver paketa +</li>
                    <li>
                      RSVP obrazac na web stranici putem kojeg gosti mogu
                      potvrditi svoj dolazak, napisati vam dodatnu bilješku i
                      odgovoriti na neka vaša pitanja
                    </li>
                    <li>
                      Tri blog objave u kojima možete napisati više informacija
                      o vašem vjenčanju, na primjer opisati kako zamišljate vaše
                      vjenčanje, navesti dress code i na kraju zahvaliti svima
                      na dolasku
                    </li>
                  </ul>
                  <a
                    class="theme-btn"
                    href="/izrada-web-stranica-za-mladence/flora">Primjer</a
                  >
                </div>
              </div>
            </div>
            <div class="shape-1">
              <img src="assets/images/pricing/shape-1.svg" alt="" />
            </div>
            <div class="shape-2">
              <img src="assets/images/pricing/shape-2.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
          <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1600ms">
            <div class="wpo-pricing-item-inner">
              <div class="wpo-pricing-top">
                <div class="wpo-pricing-text">
                  <h4>Diamond</h4>
                  <h2><small>€</small>289<span>/jednokratno</span></h2>
                </div>
              </div>
              <div class="wpo-pricing-bottom">
                <div class="wpo-pricing-bottom-text">
                  <ul>
                    <li>Sve iz Gold paketa +</li>
                    <li>Online pozivnice</li>

                    <li>Korisničko sučelje za kreiranje popisa gostiju</li>
                    <li>
                      Evidencija svakog gosta - poslana pozivnica, potvrdio
                      dolazak...
                    </li>
                    <li>
                      Generiranje teksta za personalizirane pozivnice uz pomoć
                      AI-a
                    </li>
                    <li>Izbor između nekoliko dizajna pozivnica</li>
                  </ul>
                  <a class="theme-btn" href="/register">Isprobaj</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- start wpo-pricing-section -->
