<section class="wpo-pricing-section section-padding">
  <div class="container">
    <div class="wpo-section-title">
      <h2 class="poort-text poort-in-right">Izaberi paket</h2>
    </div>
    <div class="wpo-pricing-wrap">
      <div class="row">
        <div class="col col-lg-4 col-md-6 col-12">
          <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1200ms">
            <div class="wpo-pricing-item-inner">
              <div class="wpo-pricing-top">
                <div class="wpo-pricing-text">
                  <h4>Web stranica - osnovni paket</h4>
                  <h2><small>€</small>119<span>/jednokratno</span></h2>
                </div>
              </div>
              <div class="wpo-pricing-bottom">
                <div class="wpo-pricing-bottom-text">
                  <ul>
                    <li>Brojčanik koji odbrojava vrijeme do početka svadbe</li>
                    <li>
                      Vaša ljubavna priča, kako ste se upoznali, kako si je
                      zaprosio...
                    </li>
                    <li>
                      Prvi set slika - prije vjenčanja, drugi set slika - sa
                      vjenčanja
                    </li>
                    <li>Informacije o vjenčanju - lokacije, vrijeme</li>
                    <li>
                      Raspored događaja po satima - okupljanje, ceremonija,
                      početak večere...
                    </li>
                    <li>
                      Jednokratna uplata, nema potrebe za plaćanjem održavanja,
                      domene, hostinga...
                    </li>
                  </ul>
                  <a
                    class="theme-btn"
                    href="/izrada-web-stranica-za-mladence/osnovni-paket-primjer"
                    >Primjer</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
          <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1400ms">
            <div class="wpo-pricing-item-inner">
              <div class="wpo-pricing-top">
                <div class="wpo-pricing-text">
                  <h4>Web stranica plus</h4>
                  <h2><small>€</small>229<span>/jednokratno</span></h2>
                </div>
              </div>
              <div class="wpo-pricing-bottom">
                <div class="wpo-pricing-bottom-text">
                  <ul>
                    <li>Sve kao u osnovnom paketu +</li>
                    <li>
                      RSVP obrazac na web stranici putem kojeg gosti mogu
                      potvrditi svoj dolazak, napisati vam dodatnu bilješku i
                      odgovoriti na neka vaša pitanja
                    </li>
                    <li>
                      Tri blog objave u kojima možete napisati više informacija
                      o vašem vjenčanju, opisati kako zamišljate vaše vjenčanje,
                      navesti dress code i na kraju zahvaliti svima na dolasku
                    </li>
                  </ul>
                  <a
                    class="theme-btn"
                    href="/izrada-web-stranica-za-mladence/dizajn-1">Primjer</a
                  >
                </div>
              </div>
            </div>
            <div class="shape-1">
              <img src="assets/images/pricing/shape-1.svg" alt="" />
            </div>
            <div class="shape-2">
              <img src="assets/images/pricing/shape-2.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-12">
          <div class="wpo-pricing-item wow fadeInUp" data-wow-duration="1600ms">
            <div class="wpo-pricing-item-inner">
              <div class="wpo-pricing-top">
                <div class="wpo-pricing-text">
                  <h4>Stiže uskoro</h4>
                  <h2><small>€</small>???<span>/Jednokratno</span></h2>
                </div>
              </div>
              <div class="wpo-pricing-bottom">
                <div class="wpo-pricing-bottom-text">
                  <ul>
                    <li>Sve kao u plus paketu +</li>
                    <li>Korisničko sučelje za pračenje popisa gostiju</li>
                    <li>
                      Generiranje personaliziranog teksta pozivnice uz pomoć
                      umjetne inteligencije
                    </li>
                    <li>Izbor između nekoliko dizajna pozivnica</li>
                  </ul>
                  <a class="theme-btn" href="pricing.html">Primjer</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- start wpo-pricing-section -->
